.footer-container {
  @include xy-grid-container;

  //why was this set? I think this was set by project init. I think the background change is what made it appear on the front view Its white so it shows through now
  // margin-top: rem-calc(60);



  @include breakpoint(large)
  {
    color: $mezzo-bl3;
    position: relative;
    z-index: 1000;

    max-width: 100%;
    height: 21.8em;


    background: $mezzo-g6;
    text-align: center;

    //todo, go to the js file and have the page check to see if it is the front-page. If it is, then
    //change the margin-top of the footer to this value below.
    // margin-top: -13.75em;

    //hiding the mobile email us button
    #foot-butt2
    {
      display: none;
    }

    // the styling for the footer logo
    #foot-logo {
      position: absolute;
      padding-top: 2.3em;
      max-width: 23.9375em; 
      margin: auto;
      right: 0;
      left: 0;
      z-index: 1;
    }
    
    #foot-legal {
      position: absolute;
      display: flex;
      justify-content: space-between;
      margin: auto;
      left: 0;
      right: 0;
      width: 51.3em;
      z-index: 5;
    }

    #a2{
      padding-left: 1em;
    }

    #a1 {
      padding-right: 1em;
    }



    //the inner container that holds all the footer stuff
    .footer-grid {
      @include xy-grid;
      padding: rem-calc(30) 0;
      padding-top: 3.1em;
      padding-bottom: .8em;
      
      display: inline-block;
      z-index: 12;


      section {
        @include xy-cell();
        @include breakpoint(large) {
          @include xy-cell(auto);
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      hr {
        border-bottom: 0.21em solid $mezzo-g4;
        display: block;
        z-index: 12;
        position: relative;
      }

      // created this so I can push the bottom line down a little
      #hr1 {
        padding-top: .7em;
      }


      // the box containing the footer header info
      .foot-head-box 
      {
        //background: $mezzo-b1;
        width: 51.25em;
        display: flex;
        justify-content: space-between;

        
        h5{
          font-size: 1.375em;
          font-weight: 500;
        }

        button
        {
          background-color: $mezzo-b2;
          color: #fff;

          font-family: 'Teko';
          font-size: 1.375em;
          font-weight: 500;
          text-align: center;

          //139
          //35


          height: 1.6em;
          width: 6.35em;
        }
        
      }
      
      // the box containing the footer info 
      .foot-info-box {

        width: 51.25em;

        padding-top: 0.625em;

        display: flex;
        justify-content: space-between;

        font-size: 1em;


        .foot-num
        {
          color: $mezzo-b1;
          font-weight: bold;
        }

        p
        {
          margin-bottom: 0;
          z-index: 12;
        }

        // alinging the div so that its centered but left aligned
        div{
          width: 16.875em;
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          text-align: initial;
          z-index: 12;

        }
      }
    }
  }

  


  @include breakpoint(medium2 down)
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content: center;
    padding-top: 3rem;
    position: relative;

    
    background: $mezzo-g6;



    h5{
          font-size: 1.375em;
          font-weight: 500;
          margin-bottom: 1em; 
    }

    hr {
        border-bottom: 0.21em solid $mezzo-g4;
        display: block;
        z-index: 12;
    }

    button {
        background-color: $mezzo-b2;
        color: #fff;

        font-family: 'Teko';
        font-size: 1.375em;
        font-weight: 500;
        text-align: center;

        //139
        //35
      
        margin-top: 1em;
        margin-bottom: .5em; 
        height: 1.6em;
        width: 6.35em;
    }

    //removing the button in the header, showing other
    #foot-butt1
    {
      display: none;
    }

    .footer-grid {
    
      width: 245px;
      z-index: 20;

      p {
       margin-bottom: 0;
      }


      .foot-head-box {

      }

      .foot-info-box {
        .foot-num-head {
          padding-top: 1em;
        }
        .foot-num
        {
          color: $mezzo-b1;
          font-weight: bold;
        }
      }
    }

    #foot-logo{
      // display: none;
      position: absolute;
      max-width: 320px;
      height: auto;
      bottom: 9.8rem;
      z-index: 5;
    }

    #foot-legal {

      font-size: .9em;
      text-align: center;
      width: 270px;
      margin-bottom: 3rem;
    }
  }

}
