// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	//this hides the header for the larger side.
  @include breakpoint(large)
  {
	display: none;
  }
}
//this shows the mobile menu when the medium shows up...we'll leave this here
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

// this is the styling for the menu
#offCanvas {
	background: #fff;
	
	font-family: 'Teko';
	font-weight: 500;
	font-size: 2em;
	margin-left: .5em;
	
	li {
		margin-left: .1em;
		margin-right: .1em;
		border-bottom: 3px solid $mezzo-g6;

		a{
			text-transform: uppercase;
		}


		// this is what's used to style the arrow being made. Can we convert that to a plus?
		.submenu-toggle::after {

			font-family: 'Saira';
			color: #000;

			display: flex;
			content: '+';
			justify-content: center;
			align-content: center;
			align-items: center;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			font-size: 1.35em;
			height: 24px;
			width: 24px;
			vertical-align: middle;
			text-align: center;
	
			//added this to help center plus sign
			padding-bottom: 7px;

			//getting rid of the original white border creating the arrow
			border: none;
		}

		// this is the styling for when the menu button is opened
		.submenu-toggle[aria-expanded='true']::after {

			font-family: 'Saira';
			font-weight: 500;
			color: #000;

			display: flex;
			content: 'x';
			justify-content: center;
			align-content: center;
			align-items: center;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			font-size: 1em;
			height: 24px;
			width: 24px;
			vertical-align: middle;
			text-align: center;
	
			//added this to help center plus sign
			padding-bottom: 7px;

			//getting rid of the original white border creating the arrow
			border: none;
		}

		button {
			background: $mezzo-y1;
			border: 1.5px solid black;
			border-radius: 50%;
			margin-top: 0.2em;

			// &:after {
			// 	content: 'X';
			// }
		}
		
		// this ensures the children list items don't have the bottom border
		li {
			border-bottom: 0px solid black;

			// The text for the child li is in the anchor
			a{
				color: $mezzo-bl3;
				font-family: 'Saira';
				font-size: .7em;
				font-weight: 500;
				padding: 0;
				padding-left: .8em;
				padding-bottom: .8em;
			}
		}

	}
	

	z-index: 200;
}


.site-header {
	border-bottom: 0.1em solid $mezzo-y1;
	

	// this is the class that edit the header, leaving the stuff behind it alone
	.mezzo-head{
		background: $mezzo-b1;
		height: 6.6875em;
		padding-bottom: 0;
		position: relative;

		@include breakpoint(medium2 down)
		{
			display: none;
		}
		

		

		.dropdown.menu > li.is-active > a
		{
			color: #fff;
		}
		
		#header-logo{
			padding-left: 1.25em;
		}

		// this is the list that contains the menu items
		ul {
			// setting the background of the list to match the header, the top-bar class sets it to gray
			background: $mezzo-b1;
			height: 3.4375em; 
			z-index: 90;

			// this sets the anchor font styling in the menu
			a{
				color: #fff;
				font-family: 'Teko';
				font-size: 1.3125em;
				font-weight: 500;
				text-transform: uppercase;
			}
			
			//this makes the children elements just capatalized
			ul{
				a{
					text-transform: capitalize;
				}
			}
		}


		.mega-nav-cont{
			
			.header-info-cont, #menu-item-47 > ul, #menu-item-49 > ul{
				visibility: hidden;

				//this adds a transition but sometimes runs one side faster than the other.
				//may just leave it out to avoid that bug...not sure how to fix it atm
				// transition: all 0.4s;
			}



			#menu-item-47:hover{
				ul{
					visibility: visible;
				}

				.header-info-cont{
					visibility: visible;
				}
			}

			#menu-item-49:hover{
				ul{
					visibility: visible;
				}

				.header-info-cont{
					visibility: visible;
				}
			}
		}


		#menu-item-46 {
			background: $mezzo-y1;
			height: 100%;
			a{
				color: $mezzo-b1;
			}
		}

		#head-info{
			display: flex;
			//background: #fff;
			justify-content: flex-end;
			align-items: flex-end;
			color: #fff;
			padding-right: 0.9375em;
			padding-bottom: 0.625em;

			p{
				margin-bottom: 0;
				
			}

			#head-num-text {
				padding-left: 1em;
			}

			#head-num{
				font-weight: bold;
			}

			a{
				color: #fff;
				padding-right: 1em;
			}
		}

		//the container which will have the data about the section they are hovering over.
		.header-info-cont{
			height: 282px;
			width: 50vw;
			position: absolute;
			left: 0;
			top: 109px;
			z-index: 90;

			display: block;

			//this is the class for the container that holds the info for the pi children
			.pi-header-info-cont{
				background: $mezzo-b1;
				position: absolute;
				display: flex;
				flex-direction: row;

				height: 282px;
				width: 50vw;

				h4{
					color: $mezzo-y1;
					font-family: 'Saira';
					font-size: 1.5em;
					font-weight: 600;
					padding-top: 0.5rem;
				}

				.pi-header-img-cont{
					
					background: #fff;
					// the gradient behind the image
					background-image: linear-gradient($mezzo-g6, #fff 100%);
					position: relative;
					display: none;
					justify-content: center;
					padding-top: 0.7rem;
					height: 223px;
					width: 380px;
					margin-left: 10rem;
					margin-top: 1.5rem;

					.pi-header-info-img{
						height: 200px;
						width: 249px;
						z-index: 5;
					}

					.pi-header-info-img-ind{
						margin-top: 2.5rem;
						height: 115px;
						width: 307px;
						z-index: 5;
					}

					.pi-header-info-bg{
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						z-index: 4;
					}
				}

				.pi-header-text-cont{
					display: none;
					color: #fff;
					// background: $mezzo-b1;
					margin-left: 2rem;
					margin-top: 1.5rem;
					
					height: 210px;
					width: 226px;
				}
			}

		}




	
		//this is the topbar, it has the 
		.top-bar-right{
			
			padding-right: 3.125em;
			padding-top: 0.8125em;
			height: 6.6875em;

			.display-flex
			{
				display: flex;

			}

			#menu-primary-nav{
				position: unset;
			}

			.is-dropdown-submenu-parent{
				position: static;
			}
			

			//the original list
			ul{

				//this makes the background transparent, so that I can expand the div for the hover affect.
				background: rgba(0,0,0,0);
					
				//this expands the height of the div...it just doesn't 
				height: 57px;
				
				z-index: 50;
				//making on the industries and products take up the half screen.
				#menu-item-49, #menu-item-47{

					z-index: 55;

					ul{
						display: flex;
						width: 50vw;
						background: $mezzo-b1;
						border: none;
						height: 282px;
						columns: 100px 4;
						flex-wrap: wrap;
						flex-direction: column;
						margin-top: 2px;
						padding-top: 1rem;
						padding-right: 21rem;
	
						//removing the margin that the other children will have
						margin-right: 0;
					}
				}
				
				//the list item in the list ex: products
				// li:nth-child(2) {
				li {	

					//this is the expanded ul list. Currently it sits to the left taking up half the screen
					ul{

						//this is what allows it to stay displayed, in the format I want. Can I toggle this via javascript?

						background: $mezzo-b1;
						border: none;
						height: 282px;
						width: 13vw;
						margin-right: 8rem;
						columns: 100px 2;
						flex-wrap: wrap;
						flex-direction: column;
						margin-top: 2px;
						padding-top: 1rem;
						padding-right: 2rem;
						padding-left: 2rem;

						
						//these are the children for each item, what displays on the page itself
						li{

							margin-bottom: 1rem;
							max-width: 294px;
							
							a{
								font-family: 'Saira';
								font-size: 1.1em;
								font-weight: 600;								
							}
						}
		
						//the styling when the list item is hovered
						li:hover{
							background: $mezzo-y1;
							a{
								color: $mezzo-b1;
							}
						}
					}
				}
			}
		}	
	}


	//This is the mobile styling for the header
	@include breakpoint(medium2 down)
	{
		.mezzo-title-bar
		{
			background: $mezzo-b1;
			height: 4.875rem;
			display: flex;
			position: fixed;
			z-index: 300;
			width: 100%;
		}

		.title-bar-left {
			background: $mezzo-b2;
			height: 4.875rem;
			width: 4.0625rem;
			display: flex;
			justify-content: center;
			align-items: center;


			a{
				display: flex;
				justify-content: center;
			}
			.mobile-phone-icon{
				height: auto;
				width: 35%;
			}
		}

		.title-bar-right {
			background: $mezzo-y1;
			height: 4.875rem;
			width: 4.0625rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			

			p{
				color: $mezzo-b2;
				font-size: 7px;
				font-weight: 600;
			}

			// the styling for the menu sandwich
			img {
				padding-top: 1.25rem;
			}
		}	

		//this is the class that will contain the logo
		.title-bar-center
		{
			height: 4.875rem;
			width: 15.3125rem;
			@include breakpoint(medium2 only)
			{
				width: 40.3125rem;
			}
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}	

}

