@include breakpoint(large){

	.news-main-cont{
		margin-top: 2rem;

		//centering the content inside the article.
		article
		{
			display: flex;
			justify-content: center;
		}

		//the styling for the nav at the bottom of news
		nav{
			
			ul{
				// background: #aaa;

				width: 234px;
				height: 60px;
			
				margin-left: 5rem;
				margin-top: 4rem;

				//can we go this deep?
				li{
					background: $mezzo-g5;
					
					font-family: 'Teko';
					font-size: 1.5em;
					font-weight: 500;
					line-height: 3.2rem;

					height: 54px;
					width: 54px;
					
					a{
						color: #fff;
					}

					//affects the current selected field
					.current{
						background: #fff;
						color: $mezzo-b2;
						display: block;
						height: 54px;
						width: 54px;

						border-style: solid;
						border-width: 2px;
						border-color: $mezzo-b2;

					}
				}
			}
		}

		.news-head-cont{
			width: 100%;

			display: flex;
			flex-direction: row;

			margin-bottom: 5rem;

			//this is the category selection box for the news section
			select{
				width: 289px;
				margin-top: 1.1rem;
				font-weight: 600;
			}

			.news-head{
				width: 100%;

				h1{
					font-size: 4em;
					font-weight: 500;
					text-transform: uppercase;
				}

				p{
					font-size: 1.1em;
					font-weight: 500;
				}
			}
		}
		
		
	}

	.news-cont{
		margin-bottom: 2rem;
		max-width: 244px;

		//the thumbnail styling, adjusted to change the feature image to a thumbnail
		.thumb-cont{
			width: 244px;
			height: 244px;
			overflow: hidden;
			position: relative;

			img{
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		h4{
			
			color: $mezzo-bl3;
			font-weight: 500;
			font-size: 1.8em;
			line-height: 1.3em;
			padding-top: 2rem;
			padding-bottom: 1.4rem;
			text-transform: uppercase;
		}

		button {

			width: 143px;
			height: 54px;
			font-family: 'Teko';
			font-size: 1.5em;
			font-weight: 500;
			//pushing the button font down a bit
			line-height: 3.3rem;
			text-transform: uppercase;
			
			border-style: solid;
			border-width: 2px;
			border-color: $mezzo-b2;

			//changing font color and making whole button clickable
			a{
				color: $mezzo-b2;
				display: block;
			}
		}	
	}
}


/*MOBILE STYLING*************************************************************************************************************************************************************************************************************************/
// MOBILE STYLING
@include breakpoint(medium down)
{
	.news-main-cont{
		padding: 0;
		
		//everything nested in here is just to remove the margins for these elements
		.grid-container{
			padding: 0;

			.main-content{
				margin-left: 0;
				margin-right: 0;

				.cell{
					margin-left: 0;
					margin-right: 0;
					
					//making the article the size of the card
					width: 375px;
					height: 244px;

					display: flex;
					justify-content: center;

					// background: #aaa;
				}
			}
		}



		.news-head-cont{
			width: 100%;
			padding-left: 1.55rem;
			padding-right: 1.55rem;

			//this is the category selection box for the news section
			select{
				width: 100%;
				margin-top: 1.1rem;

				font-weight: 600;
			}

			.news-head{
				width: 100%;


				h1{
					padding-top: 3rem;
					font-size: 4em;
					font-weight: 500;
					text-transform: uppercase;
				}

				p{
					font-size: 1.1em;
					font-weight: 500;
				}
			}
		}

		article{
			
		}

		nav {
			//getting rid for now...so we can deal with it later

			margin-top: 3rem;

			li{
				display: inline-block;
				background: #aaa;

				font-family: 'Teko';
				font-size: 1.5em;
				font-weight: 500;
				line-height: 3.2rem;

				height: 54px;
				width: 54px;

				a{
					color: #fff;
				}

				//affects the current selected field
				.current{
					background: #fff;
					color: $mezzo-b2;
					display: block;
					height: 54px;
					width: 54px;

					border-style: solid;
					border-width: 2px;
					border-color: $mezzo-b2;

				}
			}
		}
	}

	.news-cont
	{
		position: relative;

		width: 324px;
		height: 203px;

		margin-top: 1.4rem;
		.thumb-cont{
			width: 128px;
			height: 128px;
			overflow: hidden;
			position: relative;

			img{
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		h4{
			color: $mezzo-bl3;
			font-size: 1.39em;
			font-weight: 500;
			position: absolute;
			right: 0;
			top: 0;
			text-transform: uppercase;

			width: 171px;
			height: 199px;

		}

		button{
			background: #fff;
			color: $mezzo-b1;
			font-family: 'Teko';
			font-size: 1.3em;
			font-weight: 500;

			position: absolute;
			left: 0;
			bottom: 0;
			text-transform: uppercase;

			border-style: solid;
			border-width: 2px;
			border-color: $mezzo-b1;

			width: 128px;
			height: 54px;
		}
	}
	
	//the styling for the article alternate design
	.article-cont{

		article:nth-child(even)
		{
			background: $mezzo-g6;
		}

		article:nth-child(odd)
		{

		}
	}
}