@include breakpoint(large){

	.feat-cont{
		// height: 600px;
		// background: #aaa;
		z-index: 15;
		position: relative;
	}

	.news-overlay{
		position: absolute; /* Sit on top of the page content */
		// display: none; /* Hidden by default */
		width: 100%; /* Full width (cover the whole page) */
		height: 400px; /* Full height (cover the whole page) */
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(37, 131, 179,0.5); /* Black background with opacity */
		z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
		cursor: pointer; /* Add a pointer on hover */
	}
	
	//hiding the categories for the full size page
	#news-cat{
		display: none;
	}

	.news-single-main-cont{

		h2{
			// background: #aaa;
			line-height: 1em;
			margin-left: 18.99rem;
			max-width: 700px;
			margin-top: 4rem;
			font-size: 3.5em;
			font-weight: 500;
			text-transform: uppercase;
		}

		.news-content-cont{
				display: flex;
				flex-direction: column;	
				align-items: center;
				justify-content: center;

			.wp-block-group__inner-container
			{
				// display: flex;
				// flex-direction: column;	
				// align-items: center;
				// justify-content: center;
				max-width: 770px;

				h3{
					color: $mezzo-b1;
					font-family: 'Saira';
					font-size: 1.6rem;
					font-weight: 600;
					padding-top: 1.4rem;
					padding-bottom: 1.1rem;

				}

				p{
					padding-bottom: 1.5rem;
				}

				.news-img-p{

					max-width: 385px;
				}
			}
		}
	}
}


/*MOBILE STYLING*************************************************************************************************************************************************************************************************************************/
// MOBILE STYLING
@include breakpoint(medium down)
{
		.feat-cont{
			// height: 600px;
			// background: #aaa;
			z-index: 15;
			position: relative;
			height: 190px;

			.featured-hero{
				height: 190px;
			}
		}

		.news-overlay{
			position: absolute; /* Sit on top of the page content */
			// display: none; /* Hidden by default */
			width: 100%; /* Full width (cover the whole page) */
			height: 190px; /* Full height (cover the whole page) */
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(37, 131, 179,0.5); /* Black background with opacity */
			z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
		}

		#news-cat{

			margin-top: 1rem;

			ul{
				margin-left: 0;

				li{
					display: inline;
					font-weight: 600;
					color: $mezzo-b1;
				}

				li:after{
					content: ", "
				}
	
				//removing the comma from the last child
				li:last-child:after{
					content: "";
				}
			}
			
		}

		.news-single-main-cont{

			padding-left: 1.2rem;
			padding-right: 1.2rem;


			.main-content{
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}

			h2{
				// background: #aaa;
				line-height: 1em;
				// margin-left: 18.99rem;
				max-width: 700px;
				margin-top: 4rem;
				font-size: 3.5em;
				font-weight: 500;
				text-transform: uppercase;
			}

			.news-content-cont{
					display: flex;
					flex-direction: column;	
					align-items: center;
					justify-content: center;

				.wp-block-group__inner-container
				{
					// display: flex;
					// flex-direction: column;	
					// align-items: center;
					// justify-content: center;
					margin-bottom: 1.5rem;

					max-width: 770px;

					h3{
						color: $mezzo-b1;
						font-family: 'Saira';
						font-size: 1.9rem;
						font-weight: 600;
						padding-top: 1.1rem;
						padding-bottom: 1.1rem;
						max-width: 300px;
						// background: #aaa;

					}

					p{
						padding-bottom: 1.5rem;
						padding-right: 1.5rem;
					}

					.news-img-p{
						
						font-size: 0.78em;
						padding-right: 0;
						// max-width: 385px;
					}
				}
			}
		}



}