@include breakpoint(large){
	.contact-head {
		color: $mezzo-b1;
		font-family: 'Saira';
		font-size: 1.6em;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	.contact-num {
		color: $mezzo-b1;
		font-weight: 700;
	}

	.contact-p{
		margin-bottom: 0;
	}

	.contact-column-cont{
		display: flex;
		justify-content: center;


		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	  	margin-top: 2%;

		h2, h3, h4, h5, p, ul{

			width: 100% !important; 
		}


		//adding more space between the columns
		.wp-block-column:not(:first-child){	
			margin-left: 150px;
		}	

		.wp-block-columns{
			// background: #aaa;
			width: 1000px;

			//this is the header for the gravity form
			.gform_title{
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 600;
				padding-bottom: 1rem;
			}
			
			//this is the title for the input/dropdowns	
			.gfield_label{
				color: $mezzo-bl3;
				font-size: 1.1em;
				font-weight: 600;
			}
	
			#gform_submit_button_2{
				background: none;
				color: $mezzo-b2;
				font-family: 'Teko';
				font-size: 1.5em;
				font-weight: 500;
				
				text-transform: uppercase;

				//set this to center the text inside the button & pushing down a bit
				padding: 0;
				padding-top: 2px;

				
				width: 117px;
				height: 54px;
				border-style: solid;
  				border-width: 2px;
  				border-color: $mezzo-b2;
			}

			//removing the border from the input fields
			input, select, textarea{
				outline: 0;
				//removing the gravity forms input styling
				border: none;
				box-shadow: none;

				border: 1px solid $mezzo-g5;

			}
		}
	}

}


// MOBILE STYLING
@include breakpoint(medium down)
{
	

	//hiding the contact info stuff cause its not needed
	.contact-head, .contact-num, .contact-p {
		display: none;
	}


	.contact-column-cont{

		//this is the header for the gravity form for mobile
		.gform_wrapper h3.gform_title{
			color: $mezzo-b1;
			font-family: 'Saira';
			font-size: 1.7em;
			font-weight: 600;
			padding-bottom: 0.8rem;
		}

		//This is the class needed for the mobile gravity form styling
		.gform_wrapper label.gfield_label, .gform_wrapper legend.gfield_label{
			color: $mezzo-bl3;
			font-size: 1.2em;
			font-weight: 600;
		}
	
		//mobile gravity form submit button styling
		#gform_submit_button_2{
			background: none;
			color: $mezzo-b1;
			font-family: 'Teko';
			font-size: 1.5em;
			font-weight: 500;
			
			text-transform: uppercase;

			//set this to center the text inside the button & pushing down a bit
			padding: 0;
			padding-top: 2px;

			
			width: 99px;
			height: 54px;
			border-style: solid;
			border-width: 2px;
			border-color: $mezzo-b1;
		}
	}



}