.front-page{
  //below are the styling for the Front-page, some styling may need to be moved into 
  //a seperate component file to keep it clean

  //setting this max height because extra space was being added to the page.
  max-height: 139.4375rem;
  height: 100%;

  // the mixin for setting height and width
  @mixin blk-size($height, $width)
  {
    //checking to see if the width is passed as 0, if so, set to 100%
    @if $width == 0
    {
      width: 100%;
      height: ($height * 0.0625em);
    } 
    @else {
        height: ($height * 0.0625em);
        max-width: ($width * 0.0625em);
        width: 100%;
    }

  }
  
  height: 100%;

  @include breakpoint(large){

    // The hero styling
    .hero-sect{
      @include blk-size(692, 0);
      //@include blk-size(692, 0);
      // width: 100%;
      height: 43em;
      background: #fff; 
      display: block;
      margin: auto;
      padding: 0.625em;
      position: relative;

      // START IMGS


      // hiding the mobile images
      #mezzo-rectangle-mobile, #mezzo-gradient-mobile, #mezzo-tube-mobile
      {
        display: none;
      }

      #mezzo-gradient-img
      {
        position: absolute;
        max-height: 43.125em;
        left: 0;
        top: 0;
        z-index: 0;
      }

      #mezzo-rectangle-img
      {
        position: absolute;
        left: 0;
        z-index: 20;
        top: 12.1875em;
        max-width: 53.8125em;
      }

      #mezzo-tube-img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        max-width: 56.8125em;
      }

      // END IMGS

      //The hero text stuff
      .mezzo-hero-text
      {
        position: absolute;
        z-index: 21;
        left: 3.75em;
        top: 13.75em;
        max-width: 42.5em;
        width: 45em;
        //background: #000;
        height: 17.5em;


        // this is the header inside the hero text box
        h1 {
          color: #fff;
          font-size: 6.25em;
          font-weight: 500;
          height: 0.875em;
        }

        p{
          color: $mezzo-y1;
          font-size: 1.625em;
          font-weight: 600;
          //left: 0; 
          position: absolute;
          top: 1.6em;
        }

        hr {
          border-color: $mezzo-y1;
          border-width: 0.125em;
          width: 14.5em;
          //position: absolute;
          //right: 1em;
          //bottom: 0.75em;
        }

        #hero-arrow{
          // background: #aaa;
          position: relative;
          width: 100%;
          height: 6.25em;
        }

        #hero-arrow-cont{
          width: 16.875em;
          height: 1.875em;
          right: -1.0625em;
          position: absolute;
          top: 2.8125em;

          transition: all 0.2s;
        }
      
        //this is the class for the right image.
        .arrow-right{

          position: absolute;
          right: 4%;
          top: 36.5%;

          width: 0; 
          height: 0; 
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          
          border-left: 10px solid $mezzo-y1;
        }

        a{
          background: #000;
        }
      }
    }

    // The intro styling
    .intro-sect
    {
      @include blk-size(911, 0);
      //@include blk-size(911, 0);
      background: #fff;
      height: 56.9375rem;
      border-top: 0.35em solid $mezzo-y1;
      margin: auto;

      #mezzo-shell-mobile {
        display: none;
      }

      .intro-div
      {
        @include blk-size(911, 953);
        //background: $mezzo-b2;
        margin: auto;
        padding: 0.625em;
        position: relative;

        //START IMGS
        #mezzo-shell-img
        {
          position: absolute;
          right: 0;
          top: 15.625em;
          max-width: 25.4375em;
        }
    
        //END IMGS

        .mezzo-intro-text
        {
          max-width: 48.4375em;
          //background: #000;
          position: absolute;
          left: 3.125em;
          top: 6.5625em;
          padding: 0;

          h2{
            color: $mezzo-g1;
            font-size: 4.375em;
            font-weight: 500;
            line-height: 1em;
            padding-left: 0;
            margin-bottom: .435em;
            // left: 0;
            // position: absolute;
          }

          p{
            color: $mezzo-b1;
            font-size: 2.375em;
            font-weight: 600;
            line-height: 1.2em;
            //background: #000;
            max-width: 14.25em;
          }

          #para-cust {
            font-size: 1.125em;
            font-weight: 400;
            max-width: 24em;
            margin-top: 1.65em;
            color: $mezzo-bl3;
            line-height: 1.6; 

          }

          button {
            border-style: solid;
            border-width: 0.1em;
            border-color: $mezzo-b1;

            font-family: 'Teko';
            font-size: 1.5em;
            font-weight: 500;

            margin-top: 1.3em;

            height: 2.22em;
            width: 7.25em;
          }
        }
      }
    }
  

  
    // The new parent container for the pi section
    #pi-sect-cont {
        // background: #000;
        width: 100vw;
        z-index: 60;
        position: relative;
        top: -11.8125em;
        overflow: hidden;

        height: 51.5rem;

        #pi-mobile-imgs {
          display: none;
        }

        #mezzo-racetrack-ext {
          position: absolute;
          left: 0;
          //max-width: 900px;
          max-width: 62.5vw;
          z-index: 26;
          height: auto;

        }

        #mezzo-rect2-ext {
          position: absolute;
          left: 0;
          max-width: 62.5vw;
          z-index: 50;
          height: auto;
        }

        #mezzo-rect3-ext {
          position: absolute;
          right: 0;
          max-width: 62.5vw;
          z-index: 47;
          height: auto;
        }

        #mezzo-mask-ext {
          position: absolute;
          right: 0;
          max-width: 62.5vw;
          z-index: 30;
          height: auto;
        }

    }
    
    // The products and industries section
    .pi-sect
    {
      @include blk-size(704, 1440);
      margin: auto;
      padding: 0.625em;
      position: relative;
      //background: #000;
      //top: -11.8125em;
      margin-bottom: -18.4375em;


      

      //START IMGS
      #mezzo-car-img
      {
        position: absolute;
        top: 23.25em;
        left: 0;
        z-index: 27;
        max-width: 42em;
        transition: all 0.4s;
      }

      #mezzo-car-img2
      {
        position: absolute;
        top: 20.2em;
        left: 1.9em;
        z-index: 51;
        opacity: 0;
        max-width: 49.5625em;
        transition: all 0.4s;
      }


      #mezzo-oil-img
      {
        position: absolute;
        top: 8.25em;
        right: -13.75em;
        z-index: 31;
        max-width: 50em;

        transition: all 0.4s;
      }

      #mezzo-oil-img2
      {
        position: absolute;
        top: 7.625em;
        right: 0;
        z-index: 50;
        opacity: 0;
        max-width: 50em;

        transition: all 0.4s;

      }

      //END IMGS

      // The products and industries page styling
      #mezzo-pi-text
      {
        position: relative;
        
        h3{
          font-size: 5.625em;
          font-weight: 500;
          color: #fff; 
          position: absolute;
          z-index: 60;
        }

        #title1
        {
          color: $mezzo-b1;
          font-size: 6.90em;
          font-weight: 500;
          left: .65em;
          top: .74em;
          opacity: 0;
          position: absolute;
          z-index: 50;

          transition: all 0.4s;
        }

        #title2
        {
          color: #fff;
          font-size: 6.90em;
          font-weight: 500;
          right: .55em;
          top: 2.30em;
          opacity: 0;
          position: absolute;
          z-index: 51;

          transition: all 0.4s;
        }

        #head1 {
          left: 3.65em;
          top: 2.229em;
        }

        #head2{
          right: 3.67em;
          top: 3.015em;
        }

        p{
          font-size: 1.125em;
          max-width: 27em;
          color: #fff;
          position: absolute;
          z-index: 200;
        } 

        #p1{
          top: 25.5em;
          left: 3.37em;
          position: relative;
        }

        #p2{
          top: 25.5em;
          right: 3.4em;
          text-align: right;
        }

        button {
          background-color: $mezzo-y1;
          color: $mezzo-b3;

          font-family: 'Teko';
          font-size: 1.5em;
          font-weight: 500;
          
          height: 2.25em;
          position: absolute;
          z-index: 60;
        }

        #b1 {
          width: 9.05em;
          left: 2.55em;
          top: 24em;

        }

        #b2 {
          width: 9.9em;
          top: 24em;
          right: 2.55em;
        }
      }
    }
  }

  @include breakpoint(medium2 only)
  {
    .hero-sect{
      // display: none;
      height: 38em;
      background: #fff; 
      display: block;
      margin: auto;
      // padding: 0.625em;
      position: relative;

      #mezzo-rectangle-mobile, #mezzo-gradient-mobile, #mezzo-tube-mobile
      {
        display: none;
      }

      #mezzo-gradient-img
      {
        position: absolute;
        max-height: 43.125em;
        left: 0;
        top: 0;
        z-index: 0;
      }

       #mezzo-rectangle-img
      {
        position: absolute;
        left: 0;
        z-index: 20;
        top: 13.1875em;
        max-width: 53.8125em;
      }

      #mezzo-tube-img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        max-width: 56.8125em;
      }

      //The hero text stuff
      .mezzo-hero-text
      {
        position: absolute;
        z-index: 21;
        left: 1.75em;
        top: 17.75em;
        max-width: 42.5em;
        width: 45em;
        //background: #000;
        height: 17.5em;


        // this is the header inside the hero text box
        h1 {
          color: $mezzo-y1;
          font-size: 5em;
          font-weight: 500;
          position: relative;
          line-height: 1em;
          top: .55rem;
          // padding-left: .7em;
          margin-bottom: 0;
          z-index: 50;
        }

        a{
          display: none;
        }

        hr {
          border-color: $mezzo-y1;
          border-width: 0.125em;
          width: 14.5em;
        }
      }
    }

    .intro-sect{
      // display: none;
      position: relative;
      background: #fff;
      height: 36.5em;

      margin-top: 3rem;

      .mezzo-intro-text {
        position: absolute;
        color: #aaa;
        top: 7rem;
        margin-left: 1.7em;
        width: 75%;
        height: 100%;
      }

      h2{
        width: 100%;
        height: auto;
        color: $mezzo-g1;
        font-size: 3.475em;
        font-weight: 500;
        line-height: 1em;
        margin-top: 1em;
        margin-bottom: .435em;
      }

      p{
        color: $mezzo-b1;
        font-size: 1.775em;
        font-weight: 600;
        line-height: 1.2em;
        max-width: 14.25em;
      }

      #para-cust{
        font-size: 1em;
        color: $mezzo-bl3;
        font-weight: 400;
        max-width: 100%;
        width: 100%;
      }

      #mezzo-shell-img {
        display: none;
      }

      button {
        border-style: solid;
        border-width: 0.1em;
        border-color: $mezzo-b1;
        color: $mezzo-b1;

        font-family: 'Teko';
        font-size: 1.5em;
        font-weight: 500;

        margin-top: 0.1em;

        height: 2.22em;
        width: 7.25em;
      }

      #intro-mobile-imgs {
        height: 23.6875em;

        #mezzo-shell-mobile{
          position: absolute;
          right: 0;
          top: 4em;
          z-index: 10;
        }
      }


    }

    #pi-sect-cont{
      // display: none;
      background: #000;
      height: 39.95em;
      z-index: 30;
      position: relative;

      #overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(37, 131, 179, .5);
        z-index: 29;
      }

      button {
        font-family: "Teko";
        font-weight: 500;
        font-size: 1.3em;

        position: relative;
        height: 2.5961538461538463em;
        width: 8.365384615384615em;
        background: $mezzo-y1;
        z-index: 30;
      }

      img{
        max-width: 500px;
        width: 100%;

      }

      #pi-mobile-imgs{
        width: 100%;
        max-width: 500px;
      }

      
      //START Img styling
      #mobile-car{
        position: absolute;
        top: 11.7em;
        z-index: 15;
        width: 92%;
      }

      #mobile-oil {
        position: absolute;
        right: 0;
        bottom: 7.4em;

      }

      #mobile-track {
        position: absolute;
        height: 72%;
        max-width: 1024px;
        width: 100%;
        top: 0;
      }

      #mobile-rect {
        position: absolute;
        bottom: 0;
        z-index: 20;
        display: none;
      }

      #mobile-rect2 {
        position: absolute;
        top: 0;
        z-index: 20;
        display: none;
      }
      //END Img styling


      //first mobile text box
      #mobile-text1
      {
        position: relative;
        padding-left: 1.8em;
        padding-top: 1.5em;

        #mobile-title1{
          color: #fff;
          font-size: 3em;
          font-weight: 500;
          position: relative;
          z-index: 30;
        }

        #mobile-p1 {
          color: #fff;
          font-size: 1em;
          position: relative;
          z-index: 30;
        }
      }

      //2nd mobile textbox
      #mobile-text2 {
        
        position: absolute;
        margin-right: 1.8em;
        right: 0;
        bottom: 0;
        text-align: right;
        height: 44%;
        width: 75%;
        z-index: 200;
  
        #mobile-title2{
          color: #fff;
          font-size: 3em;
          font-weight: 500;
          position: relative;
          z-index: 30;
        }

        #mobile-p2 {
          color: #fff;
          font-size: 1em;
          
          position: relative;
          z-index: 30;
        }
        
        // this button is little larger
        #mobile-b2{
          //the em size based off of the font of the button
          width: 9.759615384615385em;
        }
      }



      //hiding the text that's affected by the JS
      #mezzo-pi-text{
        display: none;
      }
  
      // hiding the fullscreen pi images
      #mezzo-car-img, #mezzo-car-img2, #mezzo-oil-img, #mezzo-oil-img2, #mezzo-racetrack-ext, #mezzo-rect2-ext, #mezzo-rect3-ext, #mezzo-mask-ext
      {
        display: none;
      }

    }
  }

  // MOBILE STYLING
  @include breakpoint(medium down)
  {
    .sect-div {
       display: none;
    }

    .hero-sect {
      font-size: 1em;
      position: relative;

      .header-group {
        font-size: 10px;
        position: absolute;
      }

      h1 {
        color: $mezzo-y1;
        font-size: 4em;
        font-weight: 500;
        position: relative;
        line-height: 1em;
        top: .55em;
        padding-left: .7em;
        margin-bottom: 0;
        z-index: 50;
      }

      a{
        display: none;
      }

      #hero-mobile-imgs {
        height: 25.625em;
      }

      #mezzo-rectangle-mobile
      {
        position: absolute;
        top: 11.9em;
        z-index: 7;
        width: 90%;
      }
  
      #mezzo-tube-mobile{
        position: absolute;
        top: 0;
        z-index: 6;
      }

      #mezzo-gradient-mobile {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 5;
      }

      //the container that holds the text for the hero sect
      .mezzo-hero-text
      {
        z-index: 100;
        position: relative;
        //moving the text container down where the image is
        top: 11.9em;
      }

      // hiding the full screen images
      #mezzo-tube-img, #mezzo-gradient-img, #mezzo-rectangle-img{
        display: none;
      }
    }
    
    // INTRO SECTION
    .intro-sect{
      // display: none;
      position: relative;
      background: #fff;
      height: 36.5em;
      
      .mezzo-intro-text {
        position: absolute;
        color: #aaa;
        top: 0;
        margin-left: 1.7em;
        width: 75%;
        height: 100%;
      }

      h2{
        width: 70%;
        height: auto;
        color: $mezzo-g1;
        font-size: 2.475em;
        font-weight: 500;
        line-height: 1em;
        margin-top: 1em;
        margin-bottom: .435em;
      }

      p{
        color: $mezzo-b1;
        font-size: 1.775em;
        font-weight: 600;
        line-height: 1.2em;
        max-width: 14.25em;
      }

      #para-cust{
        font-size: 1em;
        color: $mezzo-bl3;
        font-weight: 400;
        max-width: 100%;
        width: 100%;
      }

      button {
        border-style: solid;
        border-width: 0.1em;
        border-color: $mezzo-b1;
        color: $mezzo-b1;

        font-family: 'Teko';
        font-size: 1.5em;
        font-weight: 500;

        margin-top: 0.1em;

        height: 2.22em;
        width: 7.25em;
      }

      #intro-mobile-imgs {
        height: 23.6875em;

        #mezzo-shell-mobile{
          position: absolute;
          right: 0;
          top: 4em;
          z-index: 10;
        }
      }

      #mezzo-shell-img {
        display: none;
      }
    }

    // PRODUCTS AND INDUSTRIES SECTION
    #pi-sect-cont {
      background: #000;
      height: 39.95em;
      z-index: 30;
      position: relative;

      #overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(37, 131, 179, .5);
        z-index: 29;
      }


      button {
        font-family: "Teko";
        font-weight: 500;
        font-size: 1.3em;

        position: relative;
        height: 2.5961538461538463em;
        width: 8.365384615384615em;
        background: $mezzo-y1;
        z-index: 30;
      }

      img{
        max-width: 500px;
        width: 100%;

      }

      #pi-mobile-imgs{
        width: 100%;
        max-width: 500px;
      }

      
      //START Img styling
      #mobile-car{
        position: absolute;
        top: 11.7em;
        z-index: 15;
        width: 92%;
      }

      #mobile-oil {
        position: absolute;
        right: 0;
        bottom: 7.4em;

      }

      #mobile-track {
        position: absolute;
        top: 0;
      }

      #mobile-rect {
        position: absolute;
        bottom: 0;
        z-index: 20;
        display: none;
      }

      #mobile-rect2 {
        position: absolute;
        top: 0;
        z-index: 20;
        display: none;
      }
      //END Img styling


      //first mobile text box
      #mobile-text1
      {
        position: relative;
        padding-left: 1.8em;
        padding-top: 1.5em;

        #mobile-title1{
          color: #fff;
          font-size: 3em;
          font-weight: 500;
          position: relative;
          z-index: 30;
        }

        #mobile-p1 {
          color: #fff;
          font-size: 1em;
          position: relative;
          z-index: 30;
        }
      }

      //2nd mobile textbox
      #mobile-text2 {
        
        position: absolute;
        margin-right: 1.8em;
        right: 0;
        bottom: 0;
        text-align: right;
        height: 44%;
        width: 75%;
        z-index: 200;
  
        #mobile-title2{
          color: #fff;
          font-size: 3em;
          font-weight: 500;
          position: relative;
          z-index: 30;
        }

        #mobile-p2 {
          color: #fff;
          font-size: 1em;
          
          position: relative;
          z-index: 30;
        }
        
        // this button is little larger
        #mobile-b2{
          //the em size based off of the font of the button
          width: 9.759615384615385em;
        }
      }

      //hiding the text that's affected by the JS
      #mezzo-pi-text{
        display: none;
      }
  
      // hiding the fullscreen pi images
      #mezzo-car-img, #mezzo-car-img2, #mezzo-oil-img, #mezzo-oil-img2, #mezzo-racetrack-ext, #mezzo-rect2-ext, #mezzo-rect3-ext, #mezzo-mask-ext
      {
        display: none;
      }
    }
  }
}