.main-container{
	width: 100vw;
	padding: 0;
	margin: 0;

	max-width: 100vw;

	@include breakpoint(small only){
    margin-top: 12%;
  }

	@include breakpoint(large){
		margin-top: 0;
		// margin-top: 29%;
	}

	.main-grid{
		width: 100vw;
	}

	.main-content-full-width{
		width: 100%;
		margin: 0;
	}

  .entry-content{
    overflow: hidden;
    position: relative;
      


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(large){
      padding-top: 430px;
    }

    h2{
      // align-self: flex-start;
      color: $mezzo-b2;
      font-weight: 500;
      margin-top: 2rem;
      font-size: 2.5em;

      line-height: 1.1em;

      @include breakpoint(large)
      {
        font-size: 70px;
        line-height: 1em;
        margin-top: 4rem;
      }
    }

    h3{
      color: $mezzo-b1 !important;

      font-size: 25px;

      @include breakpoint(large){
      font-size: 35px;
      }
    }

    h4{
    
      font-size: 25px;
      color: $mezzo-b1;



      @include breakpoint(large){
        margin-left: 0;
        font-size: 30px;
      }
    }


    //adding margins to the page elements
    .wp-block-media-text, .wp-block-columns, h2, h3, h4, h5, p, figure, ul{
      margin-left: 5%;
      margin-right: 5%;

      @include breakpoint(large){
        width: 72%; 
      }
    }

    ul{
      @include breakpoint(medium2 down){
        margin-left: 10%;
        margin-right: 5%;
      }
    }

    figure{
      margin-left: 5% !important;
      margin-right: 5% !important;

      text-align: center;
    }

    .wp-block-cover{
      h2{
        color: #fff !important;
      }
    }

    .wp-block-media-text{

      margin-top: 10%;

      @include breakpoint(large){
        margin-top: 5%;
      }
    
      p{
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      figure{
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .wp-block-media-text__content{
        @include breakpoint(medium2 down){
        padding: 0;
        }
      }
    }

    .wp-block-columns{
      .wp-block-column{
        h2, p{
          margin: 0;
        }
      }
    }
    
    .wp-block-gallery{
      margin-bottom: 2rem;
    }
  }
}

.main-contact{
  width: 100vw;
  padding: 0;
  margin: 0;

  max-width: 100vw;

  @include breakpoint(small only){
    margin-top: 12%;
  }

  @include breakpoint(large){
    margin-top: 0;
  }

  .main-grid{
    width: 100vw;
  }

  .main-content-full-width{
    width: 100%;
    margin: 0;
  }

  .entry-content{
    overflow: hidden;
    position: relative;
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      @include breakpoint(large){
        padding-top: 0;
      }

      h2{
        color: $mezzo-b2;
        font-weight: 500;
        margin-top: 2rem;
        font-size: 2.5em;

        line-height: 1.1em;

        @include breakpoint(large)
        {
          font-size: 70px;
          line-height: 1em;
          margin-top: 4rem;
        }
      }

      h3{
        color: $mezzo-b1 !important;
        font-size: 25px;

        @include breakpoint(large){
        font-size: 35px;
        }
      }

      h4{
      
        font-size: 25px;
        color: $mezzo-b1;

        @include breakpoint(large){
          margin-left: 0;
          font-size: 30px;
        }
      }

    //adding margins to the page elements
      //adding margins to the page elements
      h2, h3, h4, h5, p, ul{

        @include breakpoint(large){
          width: 72%; 
        }
      }

      .wp-block-columns{
        .wp-block-column{
          h2, p{
            margin: 0;
          }
        }
      }
  }
}

.main-no-cover{
  .entry-content{

    

    @include breakpoint(large){
      padding-top: 0;
    }



    @include breakpoint(medium2 down){
      padding-top: 10%;
    }

    @include breakpoint(small only){
      padding-top: 7%;
    }

    h2, p{

      @include breakpoint(large){
        width: 70%;
      }
    }

    h2{
      color: $mezzo-bl3;
      font-weight: 500;

      @include breakpoint(large){
        
        font-size: 100px;
        
        text-transform: uppercase;

        margin-top: 4rem;
        margin-bottom: 0;

      }
    }

    p{
      @include breakpoint(large){
        // width: 90%;
      }
    }
  }
}

