@include breakpoint(large){
	// These are the global styling for the elements
	//the container that holds everything.
	.entry-content {

		//class set for the why page p tags
		.why-p{
			
			color: $mezzo-bl3;
			margin-left: 15%;
			margin-right: 15%;
			margin-bottom: 2rem;
		}

		.why-p2 {
			padding-left: 15%; 
			padding-right: 15%; 
		}
		
		.why-p3{
			font-size: .85em;
		}

		.bold-p{
			font-weight: 600;
		}

		//class made for the why page group blocks
		.why-block-group {

			.wp-block-group__inner-container{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			margin-top: 4rem;

			width: 100%;

			h2 {
				color: $mezzo-b1;


				font-family: 'Saira';
				font-size: 2.5em;
				font-weight: 600;

				margin-top: 4rem;
				margin-left: 15%;
				margin-right: 15%;
				margin-bottom: 2%;
			}
		}

		//the unordered list
		.why-list {

			//setting this padding so that it lines up with the columns
			margin-left: 15%;
			margin-right: 15%;
			padding-left: 1rem;
			padding-right: 1rem;

			
			li {
				margin-bottom: 1rem;
				list-style: circle;
			}
		}

		//the container for the images on the sites. All this does is center the images, which I think=
		//they'll all want to do anyways
		.why-block-image {
			text-align: center;
			margin-bottom: 3rem;
			
			img {
				margin-top: 5rem;
			}
		}

		.why-graph-image{
			display: flex;
			justify-content: center;
			margin-bottom: 4rem;
		}

		//the wrapper for the gravity form, need to figure out how to decrease the width of the whole container
		#gform_wrapper_1{

		  // adding margins so that the form matches the layout of the rest of the page
		  margin-right: 6rem;
		  margin-left: 6.9rem;
	
		}


		#gform_1 {
			padding-left: 9rem;
			padding-right: 9rem;

			//removing the border from the input fields
			input, select, textarea{
				outline: 0;
				// background: #aaa;

				//removing the gravity forms input styling
				border: none;
				box-shadow: none;

				border: 1px solid $mezzo-g5;

			}

			h3{
				// display: none;
				color: $mezzo-bl3;
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 600;
				padding-left: 0;
				padding-right: 0;
				padding-top: 3rem;
			}

			//this is the title for the input/dropdowns	
			.gfield_label{
				color: $mezzo-bl3;
				font-size: 1.2em;
				font-weight: 600;

			}
		

			#gform_submit_button_1{
				background: none;
				color: $mezzo-b2;
				font-family: 'Teko';
				font-size: 1.5em;
				font-weight: 500;
				
				text-transform: uppercase;

				//set this to center the text inside the button & pushing down a bit
				padding: 0;
				padding-top: 2px;
				margin-bottom: 2rem;

				
				width: 117px;
				height: 54px;
				border-style: solid;
				border-width: 2px;
				border-color: $mezzo-b2;
			}
		}


	}


	//this is the style for the cover block on the top
	.main-cover-image{

		//this increased the length of the block to be full width...for all covers	
		overflow: hidden;
	  	width: 100vw;
	  	margin-left: calc(50% - 50vw);
	  	position: absolute;
	  	top: 0;
	  	left: 0;

	  	height: 430px;

		//the container that has the header and para
	  	.wp-block-cover__inner-container{
			// background: #aaa;
			//pushing the text over a bit
			padding-left: 3rem;
			margin-top: 5rem;
	  	}	

	  	//the header on the why page cover photo
	  	h2 {		
			font-family: "Teko";
			font-size: 100px !important;
			font-weight: 500;
			height: 7rem;
			margin-bottom: 0;
			text-transform: uppercase;

			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-top: 0 !important;
			margin-bottom: 1%;
			// margin-top: 0;

			//setting the padding to 0 so it doesn't inherit the intial styling
			padding-left: 0;
			padding-right: 0;
	  	}

		//the paragraph on the cover photo
	  	p {
			// background: #aaa;
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 2.5rem;
			max-width: 50.5%;

			margin: 0 !important;
		
			//setting the padding to 0 so it doesn't inherit the intial styling
			padding-left: 0;
			padding-right: 0;
	  	}
	}








	//this is a custom class made in the wp-admin backend, should prevent it from affection other pages...should
	.wp-column-cont {
		//todo, a top down css gradient can be added on this...to add the effect
		// background: #aaa;
		overflow: hidden;
	  	width: 100vw;
	  	margin-left: calc(50% - 50vw);
	
		//adding some space from the seciton before this
	  	margin-top: 4rem;
		//adding some space below the columns
	  	padding-bottom: 4.5rem;

		//setting the background to white for the overlay
	  	// background: #aaa;

		//this the gradient for the why page
	  	background-image: linear-gradient($mezzo-g6, #fff 60%);

		//this affects the column inside the class that I set...shouldn't see it affect anything else.
		.wp-block-columns {

			color: $mezzo-bl3;

			//this centers the columns regardless of screen size
			display: flex;
			justify-content: center;
			align-content: center;		
		}
		
		//the container
		.wp-block-group__inner-container{
			color: $mezzo-bl3;


			h2 {
				font-family: 'Saira';
				font-weight: 600;
				font-size: 2em;
				padding-left: 0;
				padding-right: 0;
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
	
			//setting the h3 color
			h3 {
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.7em;
				font-weight: 600;
			
				padding-left: 15%;
				padding-right: 15%;
				padding-bottom: 1.5rem;
			}

			//this is the styling for the quote bloack that has a special design
			h5 {

				border-style: solid;
				border-width: 3px;
				border-color: $mezzo-b1;

				font-family: 'Saira';
				font-size: 1.7em;
				font-weight: 600;

				margin-left: 34.5rem;
				margin-right: 15%;
				margin-bottom: 3rem;

				padding-top: 2rem;
				padding-bottom: 2rem;

				padding-left: 7rem;
				padding-right: 6rem;
			}
		}


		//set the h4 for the elements in the column that needs to be shifted right
		h4 {
			font-family: 'Saira';
			font-size: 1.2em;
			padding-left: 2rem;
			padding-bottom: 1rem;
		}


		p {
			font-size: 1.2em;
			padding-left: 0;
			padding-right: 0;
		}


		.wp-block-column {
	  		max-width: 21.5vw;
	  		padding-top: 7rem;
	  	}

		//this is styling the right column
	  	.wp-block-column:not(:first-child){

	  		border-style: solid;
	  		border-width: 2px;
	  		border-color: $mezzo-g4;
	  		padding: 2rem;
	  		margin-top: 5rem;
	  	}

		//targeting the first column
	  	.wp-block-column:first-child {

	  		p{
				// background: #aaa;
				max-width: 95%;
	  		}
	  	}
	}
}

/*MOBILE STYLING*************************************************************************************************************************************************************************************/

// MOBILE STYLING
@include breakpoint(medium2 down)
{
	.main-cover-image {

		//this increased the length of the block to be full width...for all covers	
		overflow: hidden;
	  	width: 100vw;
	  	margin-left: calc(50% - 50vw);

	  	//the container that has the header and para
	  	.wp-block-cover__inner-container{

			margin-top: 2rem;

		  	h2 {
		  		font-size: 3.1em;
		  		font-weight: 500;
		  		text-transform: uppercase;

		  		margin-left: 0 !important;
				margin-right: 0 !important;
				margin-top: 0 !important;
				margin-bottom: 1%;
		  	}

		  	p {
		  		// display: none;
		  		font-size: 1.27em;
		  		font-weight: 500;

		  		margin-left: 0 !important;
				margin-right: 0 !important;
				margin-top: 0 !important;
				margin-bottom: 1%;
		  	}
	  	}	
	}
	
	//this is the styling paragraph block styling
	.why-block-group {

		.wp-block-group__inner-container{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		h2 {

			color: $mezzo-b1 !important;

			font-family: 'Saira';
			font-size: 1.8em;
			font-weight: 600 !important;

			margin-left: 0;
			margin-right: 0;
			margin-top: 2.8rem;
			margin-bottom: 1.2rem;


		}

		p {
			
		}
	}

	.why-list{
		margin-left: 10%;
		margin-right: 5%;
	}

	.entry-content {
		//the unordered list
		ul {
			li {
				font-size: .95em;
				margin-bottom: 1rem;
			}
		}


		//the gravity form
		#gform_1 {

			//removing the border from the input fields
			input, select, textarea{
				outline: 0;
				// background: #aaa;

				//removing the gravity forms input styling
				border: none;
				box-shadow: none;

				border: 1px solid $mezzo-g5;

			}

			h3{
				// display: none;
				color: $mezzo-bl3;
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 600;
				padding-left: 0;
				padding-right: 0;
				padding-top: 3rem;
			}

			//this is the title for the input/dropdowns	
			.gfield_label{
				color: $mezzo-bl3;
				font-size: 1.2em;
				font-weight: 600;

			}
		

			#gform_submit_button_1{
				background: none;
				color: $mezzo-b2;
				font-family: 'Teko';
				font-size: 1.5em;
				font-weight: 500;
				
				text-transform: uppercase;

				//set this to center the text inside the button & pushing down a bit
				padding: 0;
				padding-top: 2px;
				margin-bottom: 2rem;

				
				width: 99px;
				height: 54px;
				border-style: solid;
				border-width: 2px;
				border-color: $mezzo-b2;
			}
		}
	}

	.why-block-image {
		margin-top: 0;
		// padding-left: 1.5rem;
		// padding-right: 1.5rem;
	}

	.why-graph-image{
		margin-bottom: 3rem;
	}
	
	.why-p{
		font-size: .95em;
	}
	.why-p2{
		font-size: .95em;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.why-p-mobile {
		font-size: .75em;
		margin-bottom: 5rem;
	}

	.wp-column-cont {

		//this increased the length of the block to be full width
		overflow: hidden;
	  	width: 100vw;
	  	margin-left: calc(50% - 50vw);


		//this the gradient for the why page
	  	background-image: linear-gradient($mezzo-g6, #fff 60%);
		

		//this is styling the right column
	  	.wp-block-column:not(:first-child){

	  		border-style: solid;
	  		border-width: 2px;
	  		border-color: $mezzo-g4;
	  		padding: 2rem;
	  		margin-top: 2rem;
	  	}

	  	//the container
		.wp-block-group__inner-container{
			color: $mezzo-bl3;

			// padding-left: 1.5rem;
			// padding-right: 1.5rem;

			.why-column {
				color: $mezzo-bl3;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
	
			img {
				padding-top: 3rem;
			}

			p{
				margin-bottom: 0;
				// padding-left: 1.5rem;
				// padding-right: 1.5rem;
			}

			h2{
				font-family: 'Saira';
				font-size: 1.5rem;
				font-weight: 600;

				padding-bottom: 1rem;
				padding-top: 1.3rem;
			}

			h3 {
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.3em;
				font-weight: 600;
				padding-top: 1rem;
				padding-bottom: .5rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			h4 {
				font-family: 'Saira';
				font-size: 1.1em;
				padding-left: 2rem;
				padding-bottom: .8rem;
				padding-top: .8rem;
			}

			h5 {
				border-style: solid;
				border-width: 3px;
				border-color: $mezzo-b1;

				font-family: 'Saira';
				font-size: 1.25em;
				font-weight: 700;

				line-height: 1.8em;

				margin-left: 3.5rem;
				margin-right: 1.5rem;

				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
		}
	}
}