@charset 'utf-8';


@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
//@include foundation-flex-grid;

@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*
  My custom styles:
  Add your scss files below to structure your project styles
*/

// Global
@import "global/accessibility";
@import "global/colors";
@import "global/wp-admin";
@import "global/wp-overrides";
@import "global/gutenberg";

// Modules
@import "modules/navigation";
@import "modules/content";
@import "modules/footer";
@import "modules/editor-style";
@import "modules/news";
@import "modules/news-single";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/featured-image";
@import "components/dividers";
@import "components/links";
@import "components/common";
@import "components/menu-toggle";
@import "components/blocks/cta";
@import "components/blocks/accordion";
@import "components/blocks/pi-card";
@import "components/blocks/pi-child";
@import "components/blocks/employee-card";
@import "components/blocks/case-study";
@import "components/blocks/slider-gallery";


// Templates
@import "templates/front";
@import "templates/kitchen-sink";
@import "templates/why";
@import "templates/contact";
@import "templates/page-parts";


//GLOBAL STUFF THAT I ADDED
body
{
	// this color might change but using it now to see the sections
	background: #fff;

  //this makes the body not scrollable. Figure out how to use when off canvas is open?
  // overflow: hidden;
}

//removing the title, time, and author for posts
header{
  //probably gonna have to change why this is done, but doing this now so I can continue to work on the design.

  time{
    display: none;
  }
  .entry-title
  {
  	display: none;
  }

  .author{
    display: none;
  }
}

// Wordpress page edit link (when logged in)
.edit-link {
  z-index: 5;
  position: relative;
  bottom: 30px;
  margin: 0;
  padding: 0;
  right: 1.5rem;
  @include breakpoint(medium) {
    right: 2rem;
  }
  @include breakpoint(large) {
    right: 4rem;
  }
  .post-edit-link {
    position: absolute;
    bottom: 0px;
    color: rgb(189, 189, 189);
    background: transparent;
    font-weight: bold;
  }
  .post-edit-link:hover {
    color: rgb(90, 90, 90);
  }
}