@include breakpoint(large){

	.faq-head{

		font-family: 'Saira';
		font-size: 1.5em;
		font-weight: 600;
		padding-left: 16rem;
		padding-right: 16rem;
		padding-top: 3.5rem;
		padding-bottom: 1.5rem;
	}

	.why-faqs-cont{
		width: 100vw;
	  	margin-left: calc(50% - 50vw);

	  	display: flex;
	  	justify-content: center;

	} 


	.why-accordion {
		list-style-type: none;
		
		font-weight: 600;

		width: 100%;
		max-width: 864px;

		li{
			position: relative;
		}
		

		.circle-cont{
			// background: #aaa;
			color: $mezzo-g1;
			font-weight: 500;
			float: right;
			line-height: 1.6em;
			position: absolute;
			right: 1rem;
			top: 0.8rem;
			width: 48px;


			.circle {
				border: 2.5px solid $mezzo-g1;
				border-radius: 50%;
				float: right;
				// font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;
			}

			.circle:before{
				content: '+';
				font-size: 2.1em;
				line-height: 0.5em;
			}

			.circle-change:before{
				color: $mezzo-b1;
				content: '-';
				font-size: 2.1em;
				line-height: 0.55em;
			}

			.circle-change{
				border: 2.5px solid $mezzo-b1;
				border-radius: 50%;
				float: right;
				font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;
			}
		}
	

		//not expanded
		.is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {

			//getting rid of the original white border creating the arrow
			border: none;
		}

		
		//this is the question header styling. Changing the color of the text to match the circle
		.is-accordion-submenu-parent[aria-expanded='true'] {

			//The class for the main parent anchor, defined in the php
			.main_a{
				color: $mezzo-b1;
			}
		}

		a{
			color: #000;
			padding: 0;
			padding-top: 1rem;
			padding-bottom: 0.4rem;
			margin-bottom: 1.2rem;
			font-size: 1.2em;
		}

		//putting the top border on the list
		.is-accordion-submenu-parent:first-child{
			border-top: 1px solid $mezzo-g5;
		}

		//giving all the other items a bottom border
		.is-accordion-submenu-parent::after{

			content:"";
			display: block;
			margin: 0;
			border-bottom: 1px solid $mezzo-g5;
			width: 100%;
		}

		.is-accordion-submenu {
			padding-left: 0;
			padding-right: 0;

			margin-left: 0;
			margin-right: 0;
		}
	}
}

// MOBILE STYLING
@include breakpoint(medium2 down)
{

	li{
		ul{
			margin-left: 0;
		}
	}

	.faq-head{

		font-family: 'Saira';
		font-size: 1.5em;
		font-weight: 600;
		padding-top: 3.5rem;
		padding-bottom: 1.5rem;
	}

	.why-faqs-cont{

	  	display: flex;
	  	justify-content: center;

	}

	.why-accordion {
		list-style-type: none;
		
		font-weight: 600;

		width: 100%;
		max-width: 864px;

		.circle-cont{
			// background: #aaa;
			color: $mezzo-g1;
			font-weight: 500;
			float: right;
			line-height: 1.6em;
			position: absolute;
			right: 1rem;
			top: 0.8rem;
			width: 48px;

			.circle {
				border: 2.5px solid $mezzo-g1;
				border-radius: 50%;
				float: right;
				// font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;
			}

			.circle:before{
				content: '+';
				font-size: 2.1em;
				line-height: 0.55em;
			}

			.circle-change:before{
				color: $mezzo-b1;
				content: '-';
				font-size: 2.1em;
				line-height: 0.62em;
			}

			.circle-change{
				border: 2.5px solid $mezzo-b1;
				border-radius: 50%;
				float: right;
				font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;
			}
		}



		.is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {

			//getting rid of the original white border creating the arrow
			border: none;
		}
		
		.is-accordion-submenu-parent[aria-expanded='true'] {

			//The class for the main parent anchor, defined in the php
			.main_a{
				color: $mezzo-b1;
			}
		}

		a{
			color: $mezzo-bl3;
			padding: 0;
			padding-top: 1rem;
			padding-right: 4rem;
			padding-bottom: 0.4rem;
			margin-bottom: 1.2rem;
			font-size: 1.2em;
		}

		
		//putting the top border on the list
		.is-accordion-submenu-parent:first-child{
			border-top: 1px solid $mezzo-g5;
		}

		//giving all the other items a bottom border
		.is-accordion-submenu-parent::after{

			content:"";
			display: block;
			margin: 0;
			border-bottom: 1px solid $mezzo-g5;
			width: 100%;
		}

		.is-accordion-submenu {
			padding-left: 0;
			padding-right: 0;

			margin-left: 0;
			margin-right: 0;

			a{
				line-height: 1.5rem;
				font-weight: 400;
				padding: 0;
			}
		}
	}
}