@include breakpoint(large){

	.case-list{
		width: 100% !important;
	  	margin-left: calc(50% - 50vw);
	  	margin-bottom: 5rem;

	  	h2, p{
	  		margin-left: 0 !important;
	  		margin-right: 0 !important;
	  	}


		//theh shared list styling
		li{

			// list-style: none;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;

		  	.case-study-gradient{
				//increasing the percentage by the white decreases the amount of white
				background-image: linear-gradient(to bottom, #E0E0E0, #fff 60%);
				height: 100%;
				width: 100vw;
	  			margin-left: calc(50% - 50vw);
				position: absolute;

			}

			.case-header-cont{

				padding-bottom: 1rem;
				width: 200px;
				z-index: 15;
			}

			//this is the container inside the list...what's different between them? The placement and orientation of the main image
			.case-study-cont{
				
				position: relative;
				width: 100%;
				max-width: 1000px;

				//the height of the design
				min-height: 778px;
				

				h2{
					text-transform: uppercase;
					font-weight: 500;
					line-height: 2.7rem;
					font-size: 2.9em;

				}
				h4{
					font-family: 'Saira';
					font-size: 1.2em;
					font-weight: 600;
					color: $mezzo-b1;
					padding-bottom: 1.5rem;
					width: 240px;
				}

			  	.case-text-cont{
			  		padding-left: 7.5rem;

			  		li{
			  			display: list-item;
			  			list-style: circle;
			  		}
			  	}

				

			}
		}


		//the styling for the evens
		li:nth-child(even)
		{
			.case-header-cont{
				
				padding-top: 4rem;
				float: right;
				margin-right: 10.5rem;
		  	}

		  	.case-study-gradient{
		  		top: 2.3rem;
		  	}

			.case-study-cont{

				//the image for each case study
			  	img{
					height: auto;
					// width: 612px;

					max-width: 612px;
					width: 100%;
					height: auto;
			  	}

			  	p{
					// bottom: 17rem;
			  	}
				
				.float-image{
					float: left;

				}

				//the container with the wyzywig
			  	.case-text-cont{

			  		position: absolute;
			  		bottom: 0;

			  		max-width: 854px;

			  		li {
			  			//displaying the bullets for this list
			  			display: list-item;

			  			// list-style: circle;
			  			line-height: 2.5rem;
			  		}
		  		}
			}
		}

		li:nth-child(odd) {

			.case-header-cont{
				left: 0;
				padding-top: 9.6rem;
		  	}

		  	.case-study-gradient{
				top: 7.3rem;
		  	}

		  	.case-study-cont{

				//the image styling for the odd numbered cases
			  	img{
					float: right;
					max-width: 700px;
					width: 100%;
					height: auto;
			  	}

			  	.case-text-cont{

			  		// width: 820px;
			  	}

			  	h2{
					padding-left: 7.5rem;
			  	}

			  	h4{
			  		padding-left: 7.5rem;
			  	}
		  	}
		}
	}
}

/*MOBILE STYLING*************************************************************************************************************************************************************************************************************************/
// MOBILE STYLING
@include breakpoint(medium2 down)
{
	.case-list{
		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	  	// margin-bottom: 5rem;

	  	margin-left: 0 !important;
	  	margin-right: 0 !important;

	  	//theh shared list styling
		li{

			// list-style: none;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;

		  	.case-study-gradient{
				//increasing the percentage by the white decreases the amount of white
				background-image: linear-gradient(to bottom, #E0E0E0, #fff 60%);
				height: 100%;
				width: 100vw;
	  			margin-left: calc(50% - 50vw);
				position: absolute;
				

			}

			.case-header-cont{
				
				// background: #aaa;
				padding-bottom: 1rem;
				width: 300px;
				line-height: 1rem;
				z-index: 15;
				position: absolute;
				// top: 17rem;
				left: 1.5rem;
			}

			//this is the container inside the list...what's different between them? The placement and orientation of the main image
			.case-study-cont{
				
				position: relative;
				width: 100%;
				max-width: 1000px;

				//the height of the design
				min-height: 778px;

				display: flex;
				flex-direction: column;
				align-items: center;
				

				h2{
					text-transform: uppercase;
					font-weight: 500;
					line-height: 2.7rem;
					font-size: 2.9em;

				}
				h4{
					font-family: 'Saira';
					font-size: 1.4em;
					font-weight: 600;
					color: $mezzo-b1;
					padding-bottom: 0.5rem;
					width: 240px;
				}

				img{
					max-width: 300px;
					max-height: 300px;
				}

			  	.case-text-cont{
			  		// padding-left: 7.5rem;
			  		// position: absolute;
			  		// top: 25rem;

			  		padding-left: 1.5rem;
			  		padding-right: 1.5rem;

			  		ul{
			  			margin-left: 5%;
			  			margin-right: 5%;

			  			li{
				  			display: list-item;
				  			list-style: circle;
				  		}
			  		}	
			  	}
			}

		}

		//the styling for the evens
		li:nth-child(even)
		{
			.case-study-gradient{
				top: 3.6rem;
			}

			.case-header-cont{
				top: 11rem;
			}

			.case-text-cont{
				padding-top: 11rem;


				ul{
					padding-left: 1.5rem;
					padding-right: 1.5rem;

				}

				li {

		  			//displaying the bullets for this list
		  			display: list-item;
		
		  			// list-style: circle;
		  			line-height: 1.5rem;
		  		}
			}
			
		}

		//the styling for the evens
		li:nth-child(odd)
		{
			.case-study-gradient{
				top: 5rem;
			}

			.case-header-cont{
				top: 7.3rem;

				h2{
					margin-top: 0;
				}
			}

			.case-text-cont{
				
				padding-top: 8rem;

			}
		}

	}

}