@include breakpoint(large){

	.cta-cont {
		// background: #aaa;
		position: relative;

		display: flex;

		height: 34.375rem;
		max-height: 550px;
		// width: 100%;

		// overflow: hidden;
  		width: 100vw;
  		margin-left: calc(50% - 50vw);

		#yellow-rect{
			display: none;
			position: absolute;
			left: 25vw;
			top: 0;
			max-width: 100%;
			height: 550px;
			z-index: 30;
		}

		#blue-rect {
			position: absolute;
			right: 0;
			z-index: 20;
		}
		
		#main-img{
			position: absolute;
			height: auto;
			max-width: 580px;
			width: 100%;

			top: 7em;
			right: 38%;
			z-index: 31;
			
		}

		.push-img-down{
			top: 15em !important;
		}

		#cta-bg {
			object-fit: cover;
			// padding-left: 17vw;
			width: 100%;
		}


		//the mobile images
		#yellow-rect-mobile1{
			display: none;
		}

		#yellow-rect-mobile2{
			display: none;
		}

		#cta-bg-2{
			display: none;
		}

		.text-cont{
			position: absolute;
			right: 3vw;
			top: 15vh;
			z-index: 35;

			
			color: #fff;
			text-align: right;
			

			max-width: 465px;

			h1 {
				font-size: 4em;
				font-weight: 500;
				text-transform: uppercase;
				line-height: 0.8em;
			}

			p{
				padding-top: 5%;
				font-size: 1em;
				padding-bottom: 5%;
				
				//adding this padding to cancel out inherited padding
				padding-left: 0;
				padding-right: 0;
			}

			button {
				background: $mezzo-y1;
				color: $mezzo-b3;
				font-family: 'Teko';
				font-weight: 500;
				font-size: 1.45em;
				padding-top: 0.2em;
				width: 100%;
				max-width: 200px;
				height: 54px;
				text-transform: uppercase;
			}
		}

		//this is what createsd the left yellow. The image created some issues.
		.left-div{
			background: $mezzo-y1;
			position: absolute;
			left: 0;
			height: 100%;
			transform: skew(-27deg);
			width: 30.5%;

			z-index: 29;
		}

		.left-div2{
			background: $mezzo-y1;
			position: absolute;
			left: 0;
			height: 100%;
			width: 20%;

			z-index: 29;
		}

		// .right-div{
		// 	background: $mezzo-b2;
		// 	position: absolute;
		// 	right: 0;
		// 	height: 100%;
		// 	width: 75%;
		// 	z-index: 1;
		// }
	}
}

@include breakpoint(medium2 only)
{
	//this is the class for the cta
	.cta-cont {
		// display: none;
		background: #aaa;
  		width: 100vw;
  		min-height: 659px;
  		margin-left: calc(50% - 50vw);
  		position: relative;

  		overflow: hidden;

  		.text-cont{
			// background: $mezzo-g6;
			position: absolute;
			bottom: 0;
			right: 1.7rem;
			z-index: 20;

			min-height: 240px;
			text-align: right;
			max-width: 65%;

			h1{
				// font-family: 'Saira';
				font-size: 2.9rem;
				font-weight: 500;
				line-height: 2.8rem;
				text-transform: uppercase;
				padding-bottom: 1rem;

			}

			p{	
				padding-bottom: 1rem;
			}

			button{
				// background: $mezzo-y1;
				color: $mezzo-bl3;

				border-style: solid;
				border-width: 2px;
				border-color: $mezzo-bl3;

				font-family: 'Teko';
				font-weight: 500;
				font-size: 1.3em;
				padding-top: 0.2em;
				width: 100%;
				max-width: 200px;
				height: 54px;
				text-transform: uppercase;
			}
  		}

		
		#yellow-rect-mobile1 {
			// display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 15;
			width: 100%;
			height: 30%;
		}

		#yellow-rect-mobile2 {
			// display: none;
			position: absolute;
			bottom: 0;
			right: 0;
			height: 55%;
			width: 100%;
			z-index: 15;
		}

		//the plane and the plane bg
		#main-img {
			// display: none;
			position: absolute;
			left: 5rem;
			top: 5rem;
			z-index: 25;

			width: 70%;
			height: auto;

		}

		.push-img-down{
			top: 9rem !important;
		}


		#cta-bg-2{
			position: absolute;
			right: 0;
			bottom: 100px;
			// bottom: 0;
			z-index: 10;
			height: 100%;
			width: 100%;
		}	


		//FULL SIZE IMAGES BELOW NOT DISPLAYING
		#cta-bg {
			display: none;
		}
	
		//The full size rectangles, not displaying those
		#yellow-rect{
			display: none;
		}

		//we don't want to show the blue rect
		#blue-rect{
			display: none;
		}
	


	}

}

@include breakpoint(medium down)
{
	//this is the class for the cta
	.cta-cont {
		// display: none;
		background: #aaa;
  		width: 100vw;
  		min-height: 659px;
  		margin-left: calc(50% - 50vw);
  		position: relative;

  		overflow: hidden;

  		.text-cont{
			// background: $mezzo-g6;
			position: absolute;
			bottom: 0;
			right: 1.7rem;
			z-index: 20;

			min-height: 310px;
			text-align: right;
			max-width: 85%;

			h1{
				// font-family: 'Saira';
				font-size: 2.9rem;
				font-weight: 500;
				line-height: 2.8rem;
				text-transform: uppercase;
				padding-bottom: 1rem;

			}

			p{	
				padding-bottom: 1rem;
			}

			button{
				// background: $mezzo-y1;
				color: $mezzo-bl3;

				border-style: solid;
				border-width: 2px;
				border-color: $mezzo-bl3;

				font-family: 'Teko';
				font-weight: 500;
				font-size: 1.3em;
				padding-top: 0.2em;
				width: 100%;
				max-width: 200px;
				height: 54px;
				text-transform: uppercase;
			}
  		}

		
		#yellow-rect-mobile1 {
			// display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 15;
		}

		#yellow-rect-mobile2 {
			// display: none;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			z-index: 15;
		}

		//the plane and the plane bg
		#main-img {
			// display: none;
			position: absolute;
			left: 1rem;
			top: 4rem;
			z-index: 25;

			width: 90%;
			height: auto;

		}

		.push-img-down{
			top: 7em !important;
		}


		#cta-bg-2{
			position: absolute;
			right: 0;
			// top: 0;
			bottom: 29%;
			z-index: 10;
			height: 100%;
			width: 100%;
		}	


		//FULL SIZE IMAGES BELOW NOT DISPLAYING
		#cta-bg {
			display: none;
		}
	
		//The full size rectangles, not displaying those
		#yellow-rect{
			display: none;
		}

		//we don't want to show the blue rect
		#blue-rect{
			display: none;
		}
	}
}