
.emp-main{
	@include breakpoint(large){
		// padding-top: 5%;
	}

	@include breakpoint(medium2 down){
		padding-top: 5%;
	}

	@include breakpoint(small only){
		padding-top: 10%;
	}

	.grid-x{
		@include breakpoint(medium2 only){
			padding-left: 5%;
			padding-right: 5%;
		}

		@include breakpoint(medium only){
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}

@include breakpoint(large){
	.emp-main {
		margin-bottom: 4rem;
	}

	.emp-desc{
		display: none;
	}


	//the styling for the paragraph at the top of the capabilities page
	.emp-p {

			padding-left: 30%;
			padding-right: 30%;

			width: 100vw;
		  	margin-left: calc(50% - 50vw);
	}

	.circle-hide{
		display: none;
	}
	
	.employee-card-cont {
		
		margin-top: 4rem;
		position: relative;

		height: 697px;
		width: 380px;

		.emp-img-cont {

			background: #000;
			height: 288px;
			width: 288px;
			position: relative;
			z-index: 15;

			//the drop shadow for the images
			box-shadow: 6px 6px 6px grey;
		
			.emp-img {
				// background: #aaa;
				position: absolute;
				// left: -0.12rem;
				// bottom: -1.1rem;

				z-index: 15;
			}

		}

		.emp-text-cont {

			// background: $mezzo-y1;
			overflow: scroll;
			
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			position: absolute;
			right: 0;
			bottom: 0;


			height: 100%;
			width: 100%;
			max-height: 400px;
			max-width: 338.33px;

			z-index: 15;

			h2, h4{
				color: $mezzo-bl3;
			}

			h2 {
				font-size: 40px !important;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 0;
				margin-left: 0;
				margin-right: 0;
			}

			h4 {
				font-family: 'Saira';
				font-size: 18px;
				font-weight: 500;
				padding-bottom: 1.2rem;
			}
		}

		.emp-mask {
			
			position: absolute;

			right: 0;
			bottom: 0;


			width: 100%;
			max-width: 338.33px;


			height: 100%;
			max-height: 615px;

			z-index: 10;
		}
		
	}
}

// MOBILE STYLING
@include breakpoint(medium2 only)
{
	
	//set this to remove the left & right margins from the cell class. Specific to the employee card cont
	.grid-margin-x{
		.employee-card-cont{

			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}

	.emp-main{
		// display: none;
		margin-bottom: 2rem;
	}
	
	.emp-p{
		font-size: 1.08em;
		margin-bottom: 2.5rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	//in the design, this paragraph was gone. Removing it if that's what they want
	.hide-p{
		display: none;
	}
	
	//these are the classes that are toggled by the js. It'll display the content of the div and expand
	.expanded{
		height: 100vh !important;
		transition: all 0.6s ease;
	}

	
	.employee-card-cont{
		position: relative;

		margin-bottom: 6rem;

		height: 140px;


		.emp-img-cont {

			background: #000;
			height: 205px;
			width: 205px;
			position: relative;
			z-index: 15;

			box-shadow: 0 0 25px grey;

			.emp-img {
				// background: #aaa;
				position: absolute;
				left: 0;
				// bottom: -0.75rem;
				top: 0;

				z-index: 15;
			}
		}

		.emp-text-cont {

			position: absolute;
			right: 0;
			top: 1.5rem;

			// background: #aaa;
			height: 100%;
			width: 100%;
			max-height: 140px;
			max-width: 413px;
			padding-right: 1.5rem;

			z-index: 15;

			h2, h4{
				color: $mezzo-bl3;
			}

			h2 {
				font-size: 3em  !important;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 0;
				margin-left: 0;
				margin-right: 0;
			}

			h4 {
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 500;
				margin-bottom: 0;
				// padding-bottom: 1.2rem;
			}

		}


		.emp-desc-full{
			display: none;
		}

		.emp-desc{
			opacity: 0;
		}

		.show-text{
			opacity: 1;
			font-size: 1.5em;
			display: block;
			line-height: 1.5em;
			margin-top: 2rem;
			max-height: 300px;
			position: absolute;
			padding-left: 2rem;
			padding-right: 2rem;
			z-index: 30;

			transition: all 0.6s ease;
		}

		.show{
			display: block !important;
		}
		
		//This is the first circle that shows up before expansion
		.circle-cont{
			// background: #aaa;
			color: $mezzo-b1;
			font-weight: 500;
			float: right;
			line-height: 1.6em;
			width: 78px;

			.circle-text{
				font-size: 0.9em;
				display: inline;
			}

			.circle {
				border: 2.5px solid $mezzo-b1;
				border-radius: 50%;
				float: right;
				font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;

				.circle-plus{
					
					display: block;
					font-size: 2.1em;
					color: $mezzo-b1;
					font-weight: 600;
					margin-bottom: 0;
					line-height: 0.55em;
				}
			}
		}
		

		//this is the 2nd circle that shows when expanded
		.circle-cont2{
			display: none;

			// background: #aaa;
			color: $mezzo-g3;
			font-weight: 500;
			float: right;
			line-height: 1.6em;
			width: 88px;
			height: 50px;

			.circle {
				border: 2.5px solid $mezzo-g3;
				border-radius: 50%;
				float: right;
				font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;

				.circle-plus{
					
					display: block;
					font-size: 2.1em;
					color: $mezzo-g3;
					font-weight: 600;
					margin-bottom: 0;
					line-height: 0.65em;
				}
			}
		}


		.emp-mask {
			
			position: absolute;

			right: 0;
			top: 0.6rem;


			width: 100%;
			// max-width: 338.33px;


			height: 100%;
			max-height: 615px;

			z-index: 10;
		}
	}
}

// MOBILE STYLING
@include breakpoint(medium down)
{
	
	//set this to remove the left & right margins from the cell class. Specific to the employee card cont
	.grid-margin-x{
		.employee-card-cont{

			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}

	.emp-main{
		// display: none;
		margin-bottom: 2rem;
	}
	
	.emp-p{
		font-size: 1.08em;
		margin-bottom: 2.5rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	//in the design, this paragraph was gone. Removing it if that's what they want
	.hide-p{
		display: none;
	}
	
	//these are the classes that are toggled by the js. It'll display the content of the div and expand
	.expanded{
		height: 100vh !important;
		transition: all 0.6s ease;
	}

	
	.employee-card-cont{
		position: relative;

		margin-bottom: 2rem;

		height: 140px;


		.emp-img-cont {

			background: #000;
			height: 145px;
			width: 145px;
			position: relative;
			z-index: 15;

			box-shadow: 0 0 25px grey;

			.emp-img {
				// background: #aaa;
				position: absolute;
				// left: -0.04rem;
				// bottom: -0.58rem;

				z-index: 15;
			}
		}

		.emp-text-cont {

			position: absolute;
			right: 0;
			top: 1.5rem;


			height: 100%;
			width: 100%;
			max-height: 140px;
			max-width: 173px;
			padding-right: 1.5rem;

			z-index: 15;

			h2, h4{
				color: $mezzo-bl3;
			}

			h2 {
				font-size: 24px !important;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 0;
				margin-left: 0;
				margin-right: 0;
			}

			h4 {
				font-family: 'Saira';
				font-size: 16px;
				padding-bottom: 1.2rem;
			}

		}


		.emp-desc-full{
			display: none;
		}

		.emp-desc{
			opacity: 0;
		}

		.show-text{
			opacity: 1;
			font-size: 1.1em;
			display: block;
			line-height: 1.5em;
			margin-top: 2rem;
			// max-height: 300px;
			position: absolute;
			padding-left: 2rem;
			padding-right: 2rem;
			z-index: 30;

			transition: all 0.6s ease;
		}

		.show{
			display: block !important;
		}
		
		//This is the first circle that shows up before expansion
		.circle-cont{
			// background: #aaa;
			color: $mezzo-b1;
			font-weight: 500;
			float: right;
			line-height: 1.6em;
			width: 78px;

			.circle-text{
				font-size: 0.9em;
				display: inline;
			}

			.circle {
				border: 2.5px solid $mezzo-b1;
				border-radius: 50%;
				float: right;
				font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;

				.circle-plus{
					
					display: block;
					font-size: 2.1em;
					color: $mezzo-b1;
					font-weight: 600;
					margin-bottom: 0;
					line-height: 0.55em;
				}
			}
		}
		

		//this is the 2nd circle that shows when expanded
		.circle-cont2{
			display: none;

			// background: #aaa;
			color: $mezzo-g3;
			font-weight: 500;
			float: right;
			line-height: 1.6em;
			width: 88px;
			height: 50px;

			.circle {
				border: 2.5px solid $mezzo-g3;
				border-radius: 50%;
				float: right;
				font-size: 1em;
				width: 1.7em;
				height: 1.7em;
				text-align: center;
				z-index: 86;

				.circle-plus{
					
					display: block;
					font-size: 2.1em;
					color: $mezzo-g3;
					font-weight: 600;
					margin-bottom: 0;
					line-height: 0.65em;
				}
			}
		}


		.emp-mask {
			
			position: absolute;

			right: 0;
			top: 0.6rem;


			width: 100%;
			// max-width: 338.33px;


			height: 100%;
			max-height: 615px;

			z-index: 10;
		}
	}
}