@include breakpoint(large){

	.main-cust {

	 	width: 100%;


	 	.pi-h2, .pi-p{
	 		margin-left: 15%;
	 		margin-right: 15%;

	 		color: $mezzo-bl3;
	 	}


	 	.pi-h2{
			font-weight: 500;
			text-transform: uppercase;

			@include breakpoint(large)
			{
				font-size: 100px;
				margin-top: 4rem;
				margin-bottom: 0;
			}
	 	}

	 	.pi-p{
			
			@include breakpoint(large){
				font-size: 28px;
				font-weight: 500;
				margin-bottom: 5%;
			}
	 	}
	 	
	}

	//This styling is for the products page.
	.pi-header{

		font-size: 4em;
		font-weight: 500;
		text-transform: uppercase;


		padding-left: 26%;
		padding-right: 30%;
		padding-top: 3rem;

		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	  	margin-bottom: 0;
	}


	.pi-para {
		// background: #aaa;
		font-size: 1.1em;
		font-weight: 500;

		padding-left: 26%;	
		padding-right: 24%;
		padding-bottom: 4rem;

		width: 75vw;
	  	margin-left: calc(50% - 50vw);
	}


	.grid-cust{

		margin-bottom: 4.5rem;
		
	}

	.grid-cust2{

		//THIS MARGIN causes errors. Check to see if the page has children...then add the margin in JS.
		// margin-top: 1.5rem;
		// margin-bottom: 4.5rem;
		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	}

	.grid-xy-cust{
		justify-content: center;
	}

	.grid-xy-cust2{
		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	}


	// BELOW  is the stuff for the PI Cards
	//the container for the pi cards
	.pi-card-cont{
		//the dimensions of the card
		width: 100%;
		max-width: 675px;
	}


	.pi-card{
		// background: #aaa;
		position: relative;
		
		margin-bottom: 1.5rem;
		margin-left: 1.2rem;

		width: 675px;
		height: 300px;

		//this is the height & width of the gradient image
		max-height: 300px;
		max-width: 675px;

		overflow: hidden;


		//the styling for the arrow
		.right {
		  transform: rotate(-45deg);
		  -webkit-transform: rotate(-45deg);
		}
		
		//the container for the text & arrow
		.yellow-rect-text-cont{
			position: absolute;
			// background: #aaa;
			width: 50px;
			height: 50px;
			right: 1rem;
			bottom: 1rem;
			z-index: 22;
			display: flex;
			justify-content: center;
			// align-content: center;
			// align-items: center;

			p{
				margin-bottom: 0;
			}
			

		}

		.yellow-rect{
			// display: none;
			opacity: 1;
		}

		
		//hiding the read more
		.yellow-rect-text{
			display: none;
		}

		//hiding the arrow initially
		.arrow-cont{
			display: none;
		}


		.yellow-rect-plus{
			// display: none;
			color: #000;
			opacity: 1;
			
			// height: 25px;
			// width: 25px;
			font-size: 2.3em;
			
		}

		//ON HOVER
		&:hover {
			.yellow-rect{
				// transform: scale(1.1);
				// padding-right: 10rem;
				transition: all 0.2s ease;
				opacity: 0;
				// display: none;
			}
			
			.yellow-rect-plus{
				transition: all 0.01s ease;
				opacity: 0;
				display: none;
			}

			#pi-yellow-rect-ext { 
				transition: all 0.2s ease;
				opacity: 1;
			}

			//this is the container that holds the yellow rect. 
			.yellow-rect-cont{
				position: absolute;
				right: 0;
				height: 100%;
				width: 100%;
				max-width: 305px;
				z-index: 20;

			}

			.yellow-rect-text-cont{
				display: flex;
				flex-direction: column;
				color: $mezzo-bl3;
				font-family: 'Teko';
				font-size: 2.6em;
				font-weight: 500;
				text-transform: uppercase;
				right: 2rem;
				bottom: 1.6rem;
				
				height: 100px;
				width: 180px;
				align-items: flex-end;

				.yellow-rect-text{
					display: block;
					max-height: 60px;
				}

				#pi-card-arrow{
					display: block;

				}

			}
		}
	}

	//the shared class by the images in the pi cards
	.pi-card-img {
		position: absolute;
	}

	.pi-card-header {
		color: #fff;
		font-size: 2.42rem;
		font-weight: 500;
		line-height: 1.2em;
		text-transform: uppercase;
		max-width: 238px;
		z-index: 25;
	}

	.pi-card-text-cont{
		margin-left: 2.5rem;
		margin-top: 2.5rem;
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 230px;
		width: 230px;
		z-index: 30;
	}

	.pi-card-text {
		color: #fff;
		z-index: 25;
	}


	#pi-blue-rect {
		left: 0;
		bottom: 0;
		z-index: 15;
	}

	#pi-yellow-rect, #pi-yellow-rect-ext {
		bottom: 0;
		right: 0;
		z-index: 20;
	}

	#pi-yellow-rect-ext { 
		transition: all 0.2s ease;
		opacity: 0;
	}

	#pi-card-arrow{
		max-width: 25px;
		max-height: 25px;
		display: none;
	}



	#pi-main-img {
		right: 0.7rem;
		bottom: 0.5rem;
		z-index: 19;
	}

	#industries-main-img{

		right: 2.8rem;
		bottom: 3.9rem;
		z-index: 19;
	}

	#pi-bg{
		width: 100%;
		height: 100%;

		z-index: 1;

	}

	#pi-mobile-bg {
		display: none;
	}
}


/*TABLET STYLING*************************************************************************************************************************************************************************************/
// 
@include breakpoint(medium2 only)
{
	.main-cust{
		// display: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;


		// max-width: 375px;

		.pi-h2, .pi-p{
	 		margin-left: 5%;
	 		margin-right: 5%;

	 		color: $mezzo-bl3;
	 	}


	 	.pi-h2{
			font-weight: 500;
			text-transform: uppercase;
			font-size: 60px;
			margin-top: 4rem;
			margin-bottom: 0;
			
	 	}

	 	.pi-p{
			
		
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 5%;
			
	 	}
	}

	//This styling is for the products page.
	.pi-header{
		// background: #aaa;
		color: $mezzo-bl3;
		font-size: 3em;
		font-weight: 500;
		text-transform: uppercase;


		padding-left: 1.3rem;
		// padding-right: 30%;
		padding-top: 3rem;
		padding-bottom: 1rem;

		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	  	margin-bottom: 0;
	}


	.pi-para {
		// background: #aaa;
		color: $mezzo-bl3;
		font-size: 1.3em;
		font-weight: 500;

		// padding-left: 22rem;
		// padding-right: 22rem;

		padding-left: 1.3rem;	
		// padding-right: 26%;
		padding-bottom: 1rem;

		width: 90vw;
	  	margin-left: calc(50% - 50vw);
	}


	.grid-cust{
		padding-left: 0;
		padding-right: 0;
	}


	.grid-cust2{
		padding-left: 0;
		padding-right: 0;
	}

	.grid-xy-cust{
		max-width: 100vw;
		margin-right: 0;
		margin-left: 0;

		justify-content: center;
	}
	

	.pi-card-cont{
		// background: #000;

		//the dimensions of the card
		width: 100%;
		// max-width: 675px;
	}

	.pi-card{
		// background: #aaa;

		position: relative;
		
		// margin-bottom: 0.5rem;
		margin-top: 0.5rem;

		// width: 375px;
		height: 157px;

  		width: 50vw;
  		// margin-left: calc(50% - 50vw);

		.mobile-gradient{
			position: relative;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(#fff , $mezzo-g3);
			z-index: 5;
		}
	}
	
	.pi-card-img {
		position: absolute;
		// display: none;
	}

	.pi-card-header {

		color: #fff;
		font-size: 1.55em;
		font-weight: 500;
		margin-left: 1.3rem;
		margin-top: 1rem;
		text-transform: uppercase;

		max-width: 155px;
		z-index: 25;
	}

	.pi-card-text-cont{
		position: absolute;
		height: 120px;
		max-width: 150px;
		top: 0;
		z-index: 30;

		h2{
			line-height: 1.2em;
		}
	}

	.pi-card-text {

		color: #fff;
		display: none;
		margin-bottom: 0;
		z-index: 25;
	}

	#pi-card-arrow{
		display: none;
	}

	#pi-yellow-rect-ext
	{
		display: none;
	}

	#pi-blue-rect {
		left: 0;
		top: 0;
		max-width: 223.47px;
		height: 100%;
		max-height: 171px;
		z-index: 15;
	}

	#pi-yellow-rect {
		// display: none;
		max-width: 71px;
		max-height: 142px;
		height: 100%;
		bottom: 0;
		right: 0;
		z-index: 20;
	}

	#pi-main-img {
		// display: none;
		max-width: 150px;
		max-height: 150px;
		height: auto;
		right: 3rem;
		bottom: .3rem;
		z-index: 19;
	}
	
	#industries-main-img {
		// display: none;
		max-width: 250px;
		max-height: 250px;
		height: auto;
		right: 2rem;
		bottom: 1.6rem;
		z-index: 19;
	}
	// #pi-main-img_2 {
	// 	display: none;
	// 	right: .7rem;
	// 	bottom: 4rem;
	// 	z-index: 19;
	// }

	#pi-bg{
		top: 0;

		width: 100%;
		height: 157px;
	}

	#pi-mobile-bg{
		max-width: 100%;
		width: 100%;
		// right: 0;
		height: 100%;

		z-index: 1;
	}

	.yellow-rect-plus{
		// display: none;
		color: #000;
		
		// height: 25px;
		// width: 25px;
		font-size: 2.3em;
		
	}

	//the container for the text & arrow
	.yellow-rect-text-cont{
		position: absolute;
		// background: #aaa;
		width: 50px;
		height: 50px;
		right: 0;
		bottom: 0.5rem;
		z-index: 22;
		display: flex;
		justify-content: center;
		// align-content: center;
		// align-items: center;

		.yellow-rect-text{
			display: none;
		}

		p{
			margin-bottom: 0;
		}
	}
}

/*MOBILE STYLING*************************************************************************************************************************************************************************************/
// 
@include breakpoint(medium down)
{
	.main-cust{
		// display: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;

		max-width: 375px;

		.pi-h2, .pi-p{
	 		margin-left: 5%;
	 		margin-right: 5%;

	 		color: $mezzo-bl3;
	 	}


	 	.pi-h2{
			font-weight: 500;
			text-transform: uppercase;
			font-size: 60px;
			margin-top: 4rem;
			margin-bottom: 0;
			
	 	}

	 	.pi-p{
			
		
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 5%;
			
	 	}
	}

	//This styling is for the products page.
	.pi-header{
		// background: #aaa;
		color: $mezzo-bl3;
		font-size: 3em;
		font-weight: 500;
		text-transform: uppercase;


		padding-left: 1.3rem;
		// padding-right: 30%;
		padding-top: 3rem;
		padding-bottom: 1rem;

		width: 100vw;
	  	margin-left: calc(50% - 50vw);
	  	margin-bottom: 0;
	}


	.pi-para {
		// background: #aaa;
		color: $mezzo-bl3;
		font-size: 1.3em;
		font-weight: 500;

		// padding-left: 22rem;
		// padding-right: 22rem;

		padding-left: 1.3rem;	
		// padding-right: 26%;
		padding-bottom: 1rem;

		width: 90vw;
	  	margin-left: calc(50% - 50vw);
	}


	.grid-cust{
		padding-left: 0;
		padding-right: 0;
	}


	.grid-cust2{
		padding-left: 0;
		padding-right: 0;
	}

	.grid-xy-cust{
		max-width: 100vw;
		margin-right: 0;
		margin-left: 0;
	}
	

	.pi-card-cont{
		// background: #000;

		//the dimensions of the card
		width: 100%;
		// max-width: 675px;
	}

	.pi-card{
		// background: #aaa;

		position: relative;
		
		// margin-bottom: 0.5rem;
		margin-top: 0.5rem;

		// width: 375px;
		height: 157px;

  		width: 100vw;
  		margin-left: calc(50% - 50vw);

		.mobile-gradient{
			position: relative;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(#fff , $mezzo-g3);
			z-index: 5;
		}
	}
	
	.pi-card-img {
		position: absolute;
		// display: none;
	}

	.pi-card-header {

		color: #fff;
		font-size: 1.55em;
		font-weight: 500;
		margin-left: 1.3rem;
		margin-top: 1rem;
		text-transform: uppercase;

		max-width: 155px;
		z-index: 25;
	}

	.pi-card-text-cont{
		position: absolute;
		height: 120px;
		max-width: 150px;
		top: 0;
		z-index: 30;

		h2{
			line-height: 1.2em;
		}
	}

	.pi-card-text {

		color: #fff;
		display: none;
		margin-bottom: 0;
		z-index: 25;
	}

	#pi-blue-rect {
		left: 0;
		top: 0;
		max-width: 223.47px;
		height: 100%;
		max-height: 171px;
		z-index: 15;
	}

	#pi-yellow-rect {
		// display: none;
		max-width: 71px;
		max-height: 142px;
		height: 100%;
		bottom: 0;
		right: 0;
		z-index: 20;
	}

	#pi-main-img {
		// display: none;
		max-width: 150px;
		max-height: 150px;
		height: auto;
		right: 3rem;
		bottom: .3rem;
		z-index: 19;
	}
	
	#industries-main-img {
		// display: none;
		max-width: 250px;
		max-height: 250px;
		height: auto;
		right: 2rem;
		bottom: 1.6rem;
		z-index: 19;
	}
	// #pi-main-img_2 {
	// 	display: none;
	// 	right: .7rem;
	// 	bottom: 4rem;
	// 	z-index: 19;
	// }

	#pi-bg{
		top: 0;

		width: 100%;
		height: 157px;
	}

	#pi-mobile-bg{
		max-width: 100%;
		width: 100%;
		// right: 0;
		height: 100%;

		z-index: 1;
	}

	#pi-card-arrow{
		display: none;
	}

	#pi-yellow-rect-ext
	{
		display: none;
	}

	.yellow-rect-plus{
		// display: none;
		color: #000;
		
		// height: 25px;
		// width: 25px;
		font-size: 2.3em;
		
	}

	//the container for the text & arrow
	.yellow-rect-text-cont{
		position: absolute;
		// background: #aaa;
		width: 50px;
		height: 50px;
		right: 0;
		bottom: 0.5rem;
		z-index: 22;
		display: flex;
		justify-content: center;
		// align-content: center;
		// align-items: center;

		.yellow-rect-text{
			display: none;
		}

		p{
			margin-bottom: 0;
		}
	}
}