@include breakpoint(large){

	.pi-child-para-group{
		// display: none;
		// background: #aaa;
		margin-top: 3rem;
		margin-bottom: 5rem;
		

		.wp-block-group__inner-container
		{
			display: flex;
			justify-content: center;
			flex-direction: row;
		}
	}

	.pi-child-para-block {
		// background: $mezzo-y1;
		max-width: 225px;

		margin-left: 2rem;

		.wp-block-group__inner-container{
			display: flex;
			flex-direction: column;

			h2{
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 600;
			}

			p{
				
			}
		}
	}


	.child-page-block{
		width: 100vw;
		margin-left: calc(50% - 50vw);
		background-image: linear-gradient(to bottom, #E0E0E0, #fff 60%);


		margin-bottom: 4rem;
		.wp-block-group__inner-container
		{	
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: left;
		}


		.child-page-block-group{
			// background: #aaa;
			width: 864px;



			h2{
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 600;
				margin-left: -511px;
			}

		}

	}
}


/*MOBILE STYLING*************************************************************************************************************************************************************************************************************************/
@include breakpoint(medium2 down)
{

	//fixing the child cards orientation
	.grid-cust2
	{
		margin-left: -0.625rem;
		// margin-top: 0.55rem;
		// display: none;
	}

	.pi-child-para-group{

		margin-top: 3rem;
		margin-bottom: 5rem;
	
	}

	.pi-child-para-block {

		.wp-block-group__inner-container{
			display: flex;
			flex-direction: column;

			h2{
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.5em;
				font-weight: 600;
			}
		}
		
	}

	.child-page-block{
		width: 100vw;
		margin-left: calc(50% - 50vw);
		background-image: linear-gradient(to bottom, #E0E0E0, #fff 60%);

		margin-bottom: 4rem;
		.wp-block-group__inner-container
		{	
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: left;

			figure{
				margin-top: 1rem;
			}
		}

		.child-page-block-group{

			h2{
				color: $mezzo-b1;
				font-family: 'Saira';
				font-size: 1.8em;
				font-weight: 600;
				padding-right: 3rem;
				padding-left: 1.5rem;
			}

			p{
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
	}
}