//the slider gallery custom block styling
.slider-cont
{

	margin-top: 2rem;
	margin-bottom: 4rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-left: 5%;
	margin-right: 5%;

	width: 80%;


	@include breakpoint(large){
		margin-left: 0;
		margin-right: 0;

		width: 100%;
	}

	.slider-for{
		padding-top: 3rem;
		padding-bottom: 3rem;
		max-width: 400px;

		height: 330px;

		@include breakpoint(large)
		{
			max-width: 800px;
			height: 100%;
		}

		img{
			width: 100%;
			max-height: 330px;
			@include breakpoint(large)
			{
				max-height: 400px;
				width: auto;
			}
		}

		.slick-slide{
			max-height: 450px;
			div{
				div{
					display: flex !important; 
					justify-content: center;
					align-items: center;
					align-content: center;

					height: 400px;
				}
			}
		}
	}

	.slider-nav{
		padding-top: 5rem;
		margin-top: 1rem;
		margin-bottom: 4rem;
		max-width: 375px;

		padding-left: 0.5rem;
		padding-right: 0.5rem;

		@include breakpoint(large)
		{
			max-width: 800px;	
			max-height: 145px;
			padding-top: 1rem;
			padding-left: 0;
			padding-right: 0;
		}
		
		img{
			width: 95%;
			padding-bottom: 1rem;
			@include breakpoint(large)
			{
				max-height: 128px;
				width: auto;
			}
			
		}

		.slick-slide{
			div{
				div{
					display: flex !important; 
					justify-content: center;
					align-items: center;
					align-content: center;
				}
			}
		}

		.slick-prev, .slick-next{
			height: 54px;
			width: 54px;
			background: $mezzo-g5;
			color: #fff;
			font-size: 2em;
			line-height: 1.4em;

		}

		.slick-prev:hover, .slick-next:hover
		{
			opacity: 0.7;
		} 

		.slick-prev::before, .slick-next::before{
			color: $mezzo-b2;
			font-size: 40px;
			top: 0;
			content: "";

		}
	}

	.slick-slider{
		position: relative;

		width: 100%;

		@include breakpoint(large){

		}
	}

	.slick-dots{
		position: relative;
	}

	.slick-prev{
		left: -10%;
		top: -60%;

		@include breakpoint(large){
			top: -161%;
		}
	}

	.slick-next{
		right: -10%;
		top: -60%;

		@include breakpoint(large){
			top: -161%;
		}
	}
}